<% govspeak_for :body do %>
  Results!
  <% calculator.benefit_types_for_outcome.each do |benefit| %>
    <p><%= render partial: "benefit_types/#{benefit}", locals: {calculator: calculator} %></p>
  <% end %>
<% end %>

