<% if calculator.show_section?(:have_you_been_made_unemployed) %>
  ## If you’ve been made redundant or unemployed, or put on temporary leave (on furlough)

  [What to do if you’ve lost your job](https://www.gov.uk/guidance/coronavirus-covid-19-what-to-do-if-you-were-employed-and-have-lost-your-job)

  [What to do if you’ve been furloughed](https://www.gov.uk/guidance/coronavirus-covid-19-what-to-do-if-youre-employed-and-cannot-work)

  [Check if you can get Universal Credit](https://www.gov.uk/how-to-claim-universal-credit)

  [Your rights if you’ve been made redundant, including information on how much redundancy pay you can get and your notice period](https://www.gov.uk/redundancy-your-rights)

  [Your rights if you think you might have been discriminated against at work](https://www.gov.uk/discrimination-your-rights/discrimination-at-work)

  [Find out what rights you have if you're pregnant](https://www.gov.uk/working-when-pregnant-your-rights)

  [What to do if your employer has ended your employment but you have not been made redundant](https://www.gov.uk/dismissal)

  <% if calculator.needs_help_in?("northern_ireland") %>
    [Find out about the financial support and benefits you might be able to get (NI direct)](https://www.nidirect.gov.uk/articles/coronavirus-covid-19-and-benefits)
  <% end %>

  <% if calculator.needs_help_in?("wales") %>
    [Check if you’re eligible for the Discretionary Assistance Fund (Welsh Government)](https://gov.wales/discretionary-assistance-fund-daf)
  <% end %>

  <% if calculator.needs_help_in?("scotland") %>
    [Find help with benefits (mygov.scot)](https://www.mygov.scot/benefits-support/)
  <% end %>

  <% unless calculator.needs_help_in?("northern_ireland") %>
    [Search and apply for jobs](https://www.gov.uk/find-a-job)
  <% end %>

  [Find out if you can get help from your local council](https://www.gov.uk/coronavirus-local-help)


  <% if calculator.needs_help_in?("england") %>
    [Check if your redundancy is fair (Citizens Advice)](https://www.citizensadvice.org.uk/work/leaving-a-job/redundancy/check-if-your-redundancy-is-fair/)
  <% end %>

  <% if calculator.needs_help_in?("wales") %>
    [Check if your redundancy is fair (Citizens Advice)](https://www.citizensadvice.org.uk/wales/work/leaving-a-job/redundancy/check-if-your-redundancy-is-fair/)
  <% end %>

  <% if calculator.needs_help_in?("scotland") %>
    [Check if your redundancy is fair (Citizens Advice Scotland)](https://www.citizensadvice.org.uk/scotland/work/leaving-a-job/redundancy/check-if-your-redundancy-is-fair/)
  <% end %>

  <% if calculator.needs_help_in?("england") %>
    [What to do if you do not think you’re getting your maternity rights (Citizens Advice)](https://www.citizensadvice.org.uk/work/rights-at-work/parental-rights/if-you-dont-get-your-maternity-rights/)
  <% end %>

  <% if calculator.needs_help_in?("wales") %>
    [What to do if you do not think you’re getting your maternity rights (Citizens Advice)](https://www.citizensadvice.org.uk/wales/work/rights-at-work/parental-rights/if-you-dont-get-your-maternity-rights/)
  <% end %>

  <% if calculator.needs_help_in?("scotland") %>
    [What to do if you do not think you’re getting your maternity rights (Citizens Advice Scotland)](https://www.citizensadvice.org.uk/scotland/work/rights-at-work/parental-rights/if-you-dont-get-your-maternity-rights/)
  <% end %>

  <% if calculator.needs_help_in?("england") %>
    [Advice if you’ve been furloughed (Citizens Advice)](https://www.citizensadvice.org.uk/work/coronavirus-being-furloughed-if-you-cant-work/)
  <% end %>

  <% if calculator.needs_help_in?("scotland") %>
    [Advice if you’ve been furloughed (Citizens Advice Scotland)](https://www.citizensadvice.org.uk/scotland/work/coronavirus-being-furloughed-if-you-cant-work/)
  <% end %>

  <% if calculator.needs_help_in?("wales") %>
    [Advice if you’ve been furloughed (Citizens Advice)](https://www.citizensadvice.org.uk/wales/work/coronavirus-being-furloughed-if-you-cant-work/)
  <% end %>

  <% if calculator.needs_help_in?("england") %>
    [Get advice on applying for Universal Credit (Citizens Advice)](https://www.citizensadvice.org.uk/benefits/universal-credit/)
  <% end %>

  <% if calculator.needs_help_in?("scotland") %>
    [Get advice on applying for Universal Credit (Citizens Advice Scotland)](https://www.citizensadvice.org.uk/scotland/benefits/universal-credit/)
  <% end %>

  <% if calculator.needs_help_in?("wales") %>
    [Get advice on applying for Universal Credit (Citizens Advice)](https://www.citizensadvice.org.uk/wales/benefits/universal-credit/)
  <% end %>

  <% if calculator.needs_help_in?("northern_ireland") %>
    [Get help from Citizens Advice](https://www.citizensadvice.org.uk/about-us/northern-ireland/)

    [Get advice on benefits (Advice NI)](https://www.adviceni.net/)
  <% end %>

  <% if calculator.needs_help_in?("wales") %>
    [Contact Working Wales if you’ve been made redundant](https://workingwales.gov.wales/)
  <% end %>

  <% if calculator.needs_help_in?("scotland") %>
    [Get help if you’ve been made redundant (mygov.scot)](https://www.mygov.scot/help-redundancy/)
  <% end %>
<% end %>

<% if calculator.show_section?(:self_employed) %>
  ## If you’re self employed, a freelancer, or a sole trader

  [Check if you can claim a grant through the Self-Employment Income Support Scheme](https://www.gov.uk/guidance/claim-a-grant-through-the-coronavirus-covid-19-self-employment-income-support-scheme)

  [Other support if you’re self-employed, a freelancer, or a sole trader and you’re getting less or no work](https://www.gov.uk/guidance/coronavirus-covid-19-what-to-do-if-youre-self-employed-and-getting-less-work-or-no-work)

  [Find financial support for your business](https://www.gov.uk/business-coronavirus-support-finder)

  <% if calculator.needs_help_in?("northern_ireland") %>
    [Find out about the financial support and benefits you might be able to get (NI direct)](https://www.nidirect.gov.uk/articles/coronavirus-covid-19-and-benefits)
  <% end %>

  <% if calculator.needs_help_in?("northern_ireland") %>
    [Get help with your business rates and find out about coronavirus loans (nibusinessinfo)](https://www.nibusinessinfo.co.uk/content/coronavirus-support-and-advice-self-employed)
  <% end %>

  <% if calculator.needs_help_in?("wales") %>
    [Check if you’re eligible for the Discretionary Assistance Fund (Welsh Government)](https://gov.wales/discretionary-assistance-fund-daf)
  <% end %>

  <% if calculator.needs_help_in?("scotland") %>
    [Find financial support for your business (Scottish Government)](https://findbusinesssupport.gov.scot/coronavirus-advice)
  <% end %>

  [Find out if you can get help from your local council](https://www.gov.uk/coronavirus-local-help)

  [What you can do if you’re self employed or a sole trader (Money Advice Service)](https://www.moneyadviceservice.org.uk/en/articles/coronavirus-if-youre-self-employed)

  <% if calculator.needs_help_in?("england") %>
    [Get advice on applying for Universal Credit (Citizens Advice)](https://www.citizensadvice.org.uk/benefits/universal-credit/)
  <% end %>

  <% if calculator.needs_help_in?("scotland") %>
    [Get advice on applying for Universal Credit (Citizens Advice Scotland)](https://www.citizensadvice.org.uk/scotland/benefits/universal-credit/)
  <% end %>

  <% if calculator.needs_help_in?("wales") %>
    [Get advice on applying for Universal Credit (Citizens Advice)](https://www.citizensadvice.org.uk/wales/benefits/universal-credit/)
  <% end %>

  <% if calculator.needs_help_in?("northern_ireland") %>
    [Get help from Citizens Advice](https://www.citizensadvice.org.uk/about-us/northern-ireland/)
  <% end %>

  <% if calculator.needs_help_in?("northern_ireland") %>
    [Get advice on benefits (Advice NI)](https://www.adviceni.net/)
  <% end %>

  <% if calculator.needs_help_in?("scotland") %>
    [Find help with benefits (mygov.scot)](https://www.mygov.scot/benefits-support/)
  <% end %>
<% end %>

$CTA
  <h2 class="app-c-callout-title">Was this information on being made redundant or unemployed, or not having any work helpful?</h2>

  [Give feedback on this service](/done/find-coronavirus-support)
$CTA

---
