<% if calculator.show_section?(:afford_food) %>
  ## If you’re finding it hard to afford food

  [Find out if you’re eligible for Universal Credit](https://www.gov.uk/universal-credit/eligibility)

  <% if calculator.needs_help_in?("wales") %>
    [Find out if you can get help from a foodbank (Citizens Advice)](https://www.citizensadvice.org.uk/wales/benefits/help-if-on-a-low-income/using-a-food-bank/)
  <% end %>

  <% if calculator.needs_help_in?("england") %>
    [Find out if you can get help from a foodbank (Citizens Advice)](https://www.citizensadvice.org.uk/benefits/help-if-on-a-low-income/using-a-food-bank/)
  <% end %>

  <% if calculator.needs_help_in?("northern_ireland") %>
    [Find out about the financial support and benefits you might be able to get (NI direct)](https://www.nidirect.gov.uk/articles/coronavirus-covid-19-and-benefits)
  <% end %>

  [If you need food urgently and have no other support, find out if you can get help from your council](https://www.gov.uk/coronavirus-local-help)

  [If you have a child, find out if they can get free school meals](https://www.gov.uk/apply-free-school-meals)

  <% unless calculator.needs_help_in?("scotland") %>
    [Find out if you can apply for Healthy Start vouchers if you’re 10 or more weeks pregnant or have a child under 4](https://www.healthystart.nhs.uk/how-to-apply)
  <% end %>

  <% if calculator.needs_help_in?("scotland") %>
    [Find out if you’re eligible for the Scottish Welfare Fund (mygov.scot)](https://www.mygov.scot/scottish-welfare-fund/)

    [Find out if you can get a grant if you’re a parent or looking after a child (mygov.scot)](https://www.mygov.scot/best-start-grant-best-start-foods/)
  <% end %>

  <% if calculator.needs_help_in?("wales") %>
    [Check if you’re eligible for the Discretionary Assistance Fund (Welsh Government)](https://gov.wales/discretionary-assistance-fund-daf)
  <% end %>

  <% if calculator.needs_help_in?("northern_ireland") %>
    Call the coronavirus Community Helpline for Northern Ireland on 0808 802 0020, email [covid19@adviceni.net](mailto:covid19@adviceni.net) or text ‘ACTION’ to 81025
  <% end %>
<% end %>

<% if calculator.show_section?(:get_food) %>
  ## If you’re unable to get food or medicine

  <% if calculator.needs_help_in?("scotland") %>
    [Find out if you can get help from the Scottish Government](https://www.gov.scot/publications/coronavirus-covid-19-help-for-vulnerable-people)
  <% end %>

  [Find out if you can get support if you cannot go out to get food or medicine, for example if you're self isolating or vulnerable](https://volunteering.royalvoluntaryservice.org.uk/nhs-volunteer-responders-portal/isolating)

  [If you need urgent help contact your local council](https://www.gov.uk/coronavirus-local-help)

  [Make a support bubble with another household to help you get food, medicine or other essentials](https://www.gov.uk/guidance/making-a-support-bubble-with-another-household)

  <% if calculator.needs_help_in?("wales") %>
    [Information on accessing food and other essential supplies](https://gov.wales/getting-food-and-essential-supplies-during-coronavirus-pandemic)
  <% end %>
<% end %>

$CTA
  <h2 class="app-c-callout-title">Was this information on getting food helpful?</h2>

  [Give feedback on this service](/done/find-coronavirus-support)
$CTA

---
