<%
  title ||= nil
  description ||= nil
  parent_label ||= nil
  parent_url ||= nil
%>
<section class="app-c-hero">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <% if parent_label && parent_url %>
          <span class="govuk-caption-l">
            Part of <a class="govuk-link" href="<%= parent_url %>"><%= parent_label %></a>
          </span>
        <% end %>
        <h1 class="govuk-heading-l">
          <%= title %>
        </h1>
        <p class="govuk-body">
          <%= description %>
        </p>
      </div>
    </div>
  </div>
</section>
