<%
  link_label = "Hide this page"
  link_aria_label ||= "Hide this page. Quick exit button, it opens a new tab"
  link_data_attributes ||= {}

  details_title = "What the ‘hide this page’ button does"
  details_body ||= "
    <p class=\"govuk-body\">Use this button to quickly hide this page. For example, to stop someone seeing you're using this service. The button opens a new tab.</p>
  ".html_safe
  details_data_attributes ||= {}
%>
<div class="app-c-hide-this-page-banner" data-module="hide-this-page-banner">
  <div class="govuk-width-container">
    <div class="app-c-hide-this-page-banner__columns">
      <div class="app-c-hide-this-page-banner__link-wrapper">
        <%= render "govuk_publishing_components/components/button", {
          text: "<strong>#{link_label}</strong>".html_safe,
          href: link_url,
          target: "_blank",
          rel: "nofollow noreferrer noopener",
          aria: {
            label: link_aria_label
          },
          destructive: true,
          data_attributes: link_data_attributes
        } %>
      </div>
      <div class="app-c-hide-this-page-banner__details-wrapper">
        <%= render "govuk_publishing_components/components/details", {
          title: details_title,
          data_attributes: details_data_attributes,
        } do %>
          <%= details_body %>
        <% end %>
      </div>
    </div>
  </div>
</div>
