<%
  title ||= nil
  description ||= nil
  url ||= nil
  url_text ||= nil
  url_track_action ||= nil

  if !title || !url || !url_text || !url_track_action
    raise ArgumentError, "The result card component requires a title, url, url_text and url_track_action"
  end

  ga4_url = url.clone

  if ga4_url.start_with?("https://www.gov.uk")
    ga4_url = ga4_url.gsub("https://www.gov.uk", "")
  end
%>
<div class="app-c-result-card">
  <%= render "govuk_publishing_components/components/heading", {
    text: title,
    heading_level: 2,
    margin_bottom: 2,
    font_size: "m",
  } %>

  <% if description %>
    <div class="govuk-body app-c-result-card__description">
      <%= sanitize(description) %>
    </div>
  <% end %>

  <%= link_to url_text, url,
  class: "govuk-link app-c-result-card__link",
  data: {
    "track-category": "SmartAnswerClicked",
    "track-action": url_track_action,
    "track-label": url,
    "ga4-ecommerce-path": ga4_url,
  } %>
</div>
