<%
  title ||= nil
  description ||= nil
  url ||= nil
  url_text ||= nil
%>
<div class="app-c-result-card">
  <%= render "govuk_publishing_components/components/heading", {
    text: title,
    heading_level: 2,
    margin_bottom: 2,
    font_size: "m"
  } %>

  <div class="govuk-body app-c-result-card__description">
    <%= sanitize(description) %>
  </div>

  <%= link_to url_text, url,
  class: "govuk-link app-c-result-card__link",
  data: {
    module: "gem-track-click",
    "track-action": "Cost of living results",
    "track-category": "SmartAnswerClicked",
    "track-label": url
  } %>
</div>
