<%
  highlighted ||= true
  group_index ||= 1
  result_index ||= 1
  topics ||= []

  if !topics.any?
    raise ArgumentError, "The result section component requires topics data"
  end

  component_helper = GovukPublishingComponents::Presenters::ComponentWrapperHelper.new(local_assigns)
  component_helper.add_class("app-c-result-sections")
%>
<%= tag.div(**component_helper.all_attributes) do %>
  <% topics.each do |topic, results| %>
    <section class="app-c-result-sections__section">
      <h3 class="govuk-heading-m"><%= topic %></h3>
      <% results.each do |result| %>
        <%= render "components/result_item", {
          highlighted: highlighted,
          group_index: group_index,
          result_index: result_index,
        }.merge(result.symbolize_keys) %>
        <% result_index += 1 %>
      <% end %>
    </section>
  <% end %>
<% end %>
