<%
  highlighted ||= false
%>
<section class="app-c-result-section">
  <h3 class="govuk-heading-m"><%= title %></h3>
  <% results.each_with_index do |result, index| %>
    <%= render "components/result-item", {highlighted: highlighted}.merge(result.symbolize_keys) %>
  <% end %>
</section>
