<%
  title ||= nil
  url ||= nil
  description ||= nil
  highlighted ||= false
  group_index ||= 1
  result_index ||= 1
  css_classes = %w(app-c-result-item)
  css_classes << "app-c-result-item--highlighted" if highlighted

  if !title || !url || !description
    raise ArgumentError, "The result item component requires a title, url and description"
  end
%>
<%= tag.div class: css_classes do %>
  <h4 class="govuk-heading-s govuk-!-margin-bottom-2">
    <%= link_to (title + " (opens in new tab)" if title.present?), url,
      class: "govuk-link",
      target: "_blank",
      rel: "noreferrer noopener" %>
  </h4>
  <p class="govuk-body govuk-!-margin-bottom-1">
    <%= description %>
  </p>
<% end %>
