# Vim
*~

# Mac
.DS_Store

# Rails
.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
out/

# SimplCov
coverage

.byebug_history
public/assets

# Yarn
node_modules
yarn-error.log

# IntelliJ
.idea/

# Dart Sass
/app/assets/builds/*
!/app/assets/builds/.keep