<ul class="options">
  <% question.options.each.with_index do |option, i| %>
    <li>
      <label for="response_<%= i %>">
        <%= check_box_tag "response[]", option.value, false, id: "response_#{i}" %>
        <%= option.label %>
      </label>
    </li>
 <% end %>
</ul>
