<li class="done">
  <h3 class="question">
    <span class="question-number"><%= question_counter + 1 %></span>
    <%= question.display_name %>
  </h3>

  <p class="answer"><%= question.response_label(@presenter.responses[question_counter]) %></p>
  <p class="undo">
    <%= link_to "Change this answer", @presenter.change_collapsed_question_link(question_counter + 1) %>
  </p>
</li>
