<li class="done">
  <% question_page.questions.each do |question|%>
    <h3 class="question">
      <%= question.title %>
    </h3>
    <%- if question.multiple_responses? -%>
      <div class="answer multiple">
        <ul>
          <%- question.response_labels(@presenter.accepted_responses[question_page_counter]).each do |label| -%>
            <li><%= label %></li>
          <%- end -%>
        </ul>
      </div>
    <%- else -%>
      <div class="answer"><%= question.response_label(@presenter.accepted_responses[question_page_counter]) %></div>
    <%- end -%>
  <% end %>
  <p class="undo">
    <%= link_to "Change this answer", @presenter.change_collapsed_question_link(question_page_counter + 1) %>
  </p>
</li>
