<div class="step current" data-step="employment-status">
  <%= form_tag smart_answer_path(params) %>
    <div class="current-question">
      <h3>
        <span class="question-number"><%= @presenter.current_question_number %></span>
        <%= question.display_name %>
      </h3>

      <%= render partial: "#{question.class.name.demodulize.underscore}_question", locals: {question: question} %>
      <!-- <div class="arrow-down"></div> -->
      <div class="next-question">
        <input type="submit" value="Next step &rarr;">
      </div>
    </div>
  </form>
</div>
