<fieldset>
  <label>Day
    <%= select_day question.default, prefix: 'response', :prompt => '' %>
  </label>
  <label>Month
    <%= select_month question.default, prefix: 'response', prompt: '' %>
  </label>
  <label>Year
    <%= select_year question.default, prefix: 'response', prompt: '' %>
  </label>
</fieldset>
