<fieldset>
  <% unless question.default_day %>
    <label for="response_day">Day
      <%= select_day default_for_date(prefill_value_for(question, :day)), prefix: "response", :prompt => '' %>
    </label>
  <% end %>
  <% unless question.default_month %>
    <label for="response_month">Month
      <%= select_month default_for_date(prefill_value_for(question, :month)), prefix: "response", prompt: '' %>
    </label>
  <% end %>
  <% unless question.default_year %>
    <label for="response_year">Year
      <%= select_year default_for_date(prefill_value_for(question, :year)), prefix: "response", prompt: '', :start_year => question.start_date.year, :end_year => question.end_date.year %>
    </label>
  <% end %>
</fieldset>
