<div class="heroku-alert">PLEASE NOTE THAT THIS IS ONLY A TEST VERSION, REFER TO <%= link_to "GOV.UK", request.url.gsub(/smart-answers-preview-pr-[0-9]{4}.herokuapp.com/,"www.gov.uk") %> FOR THE OFFICIAL VERSION OF THIS DOCUMENT</div>
