<ul>
  <% question.options.each do |option| %>
    <li>
      <%= radio_button_tag "response", option.value %>
      <label for="response_<%= option.value %>"><%= option.label %></label>
    </li>
 <% end %>
</ul>
