<% yes_no = question.options.map(&:label).sort == ['No','Yes'] %>
<% style = yes_no ? 'options inline' : 'options' %>
<ul class="<%= style %>">
  <% question.options.each.with_index do |option, i| %>
    <li>
      <label for="response_<%= i %>" class="selectable">
        <%= radio_button_tag "response", option.value, prefill_value_is?(option.value), id: "response_#{i}" %>
        <%= option.label %>
      </label>
    </li>
 <% end %>
</ul>
