<ul class="options">
  <% question.options.each.with_index do |option, i| %>
    <li>
      <label for="response_<%=question.number%>_<%= i %>">
        <%= radio_button_tag "response_#{question.number}", option.value, prefill_value_is?(option.value), id: "response_#{question.number}_#{i}" %>
        <%= option.label %>
      </label>
    </li>
 <% end %>
</ul>
