<ul>
  <% question.options.each do |option| %>
    <li>
      <label>
        <%= radio_button_tag "response", option.value, prefill_value_is?(option.value) %>
        <%= option.label %>
      </label>
    </li>
 <% end %>
</ul>
