<% identifier = number ? "response_#{number}" : "response" %>
<label for="<%= identifier %>"><% if question.has_hint? %><%= question.hint %><% end -%>
  <%= text_field_tag(identifier, prefill_value_for(question, number)) %>
</label>
