<% if @presenter.current_question_number > 1 %>
  <table class="govuk-table">
    <caption class="govuk-table__caption">
      <h2 class="govuk-heading-m">Previous answers</h2>
      <p class="govuk-body"><%= link_to "Start again", smart_answer_path(params[:id]), :class => "govuk-link" %></p>
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Question</th>
        <th scope="col" class="govuk-table__header">Answer</th>
        <th scope="col" class="govuk-table__header">Change answer</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @presenter.collapsed_questions.each_with_index do |question, number_questions_so_far| %>
        <%= render partial: 'previous_answer', locals: {question: question, number_questions_so_far: number_questions_so_far} %>
      <% end %>
    </tbody>
  </table>
<% end %>
