<% if @presenter.current_question_number > 1 %>
  <div class="previous-answers">
    <div class="done-questions">
      <article>
          <h3 class="previous-answers-title">
            Previous answers
          </h3>
          <%= link_to "Start again", smart_answer_path(params[:id]), :class => "start-right" %>
        <table>
          <tbody>
            <% @presenter.collapsed_questions.each_with_index do |question, number_questions_so_far| %>
              <%= render partial: "collapsed_question", locals: {question: question, number_questions_so_far: number_questions_so_far} %>
            <% end %>
          </tbody>
        </table>
      </article>
    </div>
  </div>
<% end %>
