<% if @presenter.current_question_number > 1 %>
  <table class="govuk-table previous-answers-table">
    <caption class="govuk-table__caption">
      <h2 class="govuk-heading-m">Previous answers</h2>
      <p class="govuk-body"><%= link_to "Start again", restart_flow_path(@presenter), :class => "govuk-link" %></p>
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Question</th>
        <th scope="col" class="govuk-table__header">Answer</th>
        <th scope="col" class="govuk-table__header">Change answer</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @presenter.collapsed_questions.each_with_index do |question, number_questions_so_far| %>
        <%= render(
            'smart_answers/previous_answer',
            question: question,
            accepted_response: @presenter.accepted_responses[number_questions_so_far],
            question_link: @presenter.change_collapsed_question_link(number_questions_so_far + 1, question),
          )
        %>
      <% end %>
    </tbody>
  </table>
<% end %>
