<div class="related-container">
  <% if @navigation_helpers %>
    <% if should_present_new_navigation_view?(@content_item) %>
      <%= render partial: 'govuk_component/taxonomy_sidebar', locals: @navigation_helpers.taxonomy_sidebar %>
    <% else %>
      <%= render partial: 'govuk_component/related_items', locals: @navigation_helpers.related_items %>
    <% end %>
  <% end %>
</div>
