<article class="results">
  <div class="inner group">
    <div class="result-info">
      <div class="summary"><h2 class="result-title"><%= @presenter.current_node.title %></h2></div>
      <% if @presenter.current_node.has_body? %>
        <%= @presenter.current_node.body %>
      <% end %>
    </div>
    <% if @presenter.current_node.has_next_steps? %>
      <div class="next-steps">
        <h3>Next steps</h3>
        <%= @presenter.current_node.next_steps %>
      </div>
    <% end %>
  </div>
</article>