<label for="response_amount">
  &pound; <%= text_field_tag('response[amount]', nil, size: 5, value: params[:response] && params[:response][:amount]) %>
</label>
<label for="response_period">
per <select name="response[period]">
  <%= options_for_select %w{week month}, params[:response] && params[:response][:period] %>
</select>
</label>
