<fieldset>
  <% response_prefix = "response" %>
  <label for="response_amount">
    &pound; <%= text_field_tag(response_prefix+"[amount]", nil, size: 5, value: prefill_value_for(question, nil, :amount)) %>
  </label>
  <label for="response_period">
  per <select name="<%=response_prefix%>[period]">
    <%= options_for_select %w{week month year}, prefill_value_for(question, nil, :period) %>
  </select>
  </label>
</fieldset>
