<div class="meta-data group">
  <div class="inner">
    <div class="print-and-modified-date group">
      <p class="modified-date">Last updated: <%= last_updated_date.strftime('%e %B %Y') %></p>
    </div>
  </div>
</div>
