<p class="report-a-problem-toggle js-footer"><a href="">Is there anything wrong with this page?</a></p>
<div class="report-a-problem-container">
  <h2>Help us improve GOV.UK by telling us:</h2>
  <form accept-charset="UTF-8" action="/feedback" method="post">
    <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
    <input id="url" name="url" type="hidden" value="<%= h request.url %>">

    <label for="what_doing">What you were doing</label>
    <input id="what_doing" name="what_doing" type="text" />

    <label for="what_wrong">What went wrong</label>
    <input id="what_wrong" name="what_wrong" type="text" />

    <div><button name="commit" type="submit" class="button">Send</button></div>
  </form>
</div>
<div class="meta-data group">
  <div class="inner">
    <div class="print-and-modified-date group">
      <p class="modified-date">Last updated: <%= last_updated_date.strftime('%e %B %Y') %></p>
    </div>
  </div>
</div>
