<% if question.has_labels? %><label for="response"><% 
  unless question.has_suffix_label? %><%= question.label %><% end %><% end 
%><%= text_field_tag('response', prefill_value_for(question)) %><% 
  if question.has_labels? %><% if question.has_suffix_label? %><%= question.suffix_label %><% end 
%></label><% end %>
