<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/title", {
      title: "Smart Answers"
    } %>

    <div class="smart-answers-list">
      <%= render "govuk_publishing_components/components/table", {
        head: [
          { text: "Title" },
          { text: "Status" },
          { text: "Questions" },
          { text: "Outcomes" },
          { text: "Links" },
          { text: "" },
        ],
        rows: @flows.map { |flow|
          presenter = FlowPresenter.new({}, flow)
          [
            { text: title_and_url(flow.name, presenter.start_node.title) },
            { text: link_to(flow.status.capitalize, live_link(flow.name, flow.status)) },
            { text: flow.questions.count },
            { text: link_to(flow.outcomes.count, all_outcomes_path(id: flow.name)) },
            { text: code_links(flow.name) },
            { text: link_to('Visualise', visualise_path(flow.name)) },
          ]
        }
      } %>
    </div>

  </div>
</div>
