<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Smart Answers",
      heading_level: 1,
      font_size: "xl",
      margin_bottom: 8,
    } %>

    <div class="smart-answers-list">
      <%= render "govuk_publishing_components/components/table", {
        head: [
          { text: "Title" },
          { text: "Status" },
          { text: "Questions" },
          { text: "Outcomes" },
          { text: "Links" },
          { text: "" },
        ],
        rows: @flows.map do |flow|
          presenter = flow.start_node.presenter
          [
            { text: title_and_url(flow.name, presenter.title) },
            { text: link_to(flow.status.capitalize, live_link(flow.name, flow.status), class: "govuk-link") },
            { text: flow.questions.count },
            { text: flow.outcomes.count },
            { text: code_links(flow.class) },
            { text: link_to("Visualise", visualise_path(flow.name), class: "govuk-link") },
          ]
        end,
      } %>
    </div>

  </div>
</div>
