<% content_for :title do %><%= @presenter.title %><% end %>
<% content_for :section_name do %><%= @presenter.section %><% end %>
<section id="content">
  <%= render partial: "content" %>

  <div class="meta-data">
    <div class="inner">
      <div class="print-and-modified-date group">
        <p class="modified-date">Last updated: <%= last_updated_date.strftime('%d %B %Y') %></p>
      </div>
    </div>
  </div>
</section>
