<% content_for :title do %><%= @presenter.title %><% end %>
<section id="content"<% if @presenter.started? %> class="smart-answer-questions group"<% end %>>
  <%= render partial: "content" %>
</section>
