<% content_for :title do %><%= @presenter.title %><% end %>
<% content_for :head do %>
<%= javascript_include_tag "smart-answers", defer: true %>
<% end %>
<% unless @presenter.started? %><div class="grid-row"><% end %>
<main id="content" role="main">
  <div id="js-replaceable" <% if @presenter.started? %> class="smart-answer-questions group"<% end %>>
    <%= render partial: "content" %>
  </div>

  <div class="meta-wrapper">
    <div id="report-a-problem"></div>
    <%= render :partial => 'smartanswer_metadata' %>
  </div>
</main>
<% unless @presenter.started? %>
<div id="related-items"></div>
</div>
<% end %>
