<% content_for :title do %><%= @presenter.title %><% end %>
<main id="content" role="main" <% if @presenter.started? %> class="smart-answer-questions group"<% end %>>
  <%= render partial: "content" %>
</main>
<div id="report-a-problem"></div>
