<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell"><%= question.title %></td>
  <td class="govuk-table__cell">
    <% if question.multiple_responses? %>
      <ul class="govuk-list">
        <% question.response_labels(accepted_response).each do |label| %>
          <li><%= label %></li>
        <% end %>
      </ul>
    <% else %>
      <%= question.response_label(accepted_response) %>
    <% end %>
  </td>
</tr>
