<% text_for :title do %>
  Are you State Pension age or over?
<% end %>

<% text_for :hint do %>
  You can <a href="https://www.gov.uk/state-pension-age" class="govuk-link" rel="noreferrer noopener" target="_blank">check your state pension age (opens in new tab)</a> if you're not sure.
<% end %>

<% options(
    "yes": "Yes",
    "no": "No",
  )
%>
