<% text_for :title do %>
  Travelling from and to England during coronavirus (COVID-19): check what you need to do
<% end %>

<% govspeak_for :body do %>
  <p>If you're a British citizen travelling from and to England during coronavirus (COVID-19), there are things you need to do before you travel and after you arrive.</p>

  <p>Use this tool to find out:</p>

  <ul>
    <li>entry requirements for the country you're going to or travelling through</li>
    <li>what tests you need to take and when</li>
    <li>when you need to quarantine</li>
    <li>what you need to do to travel with children</li>
    <li>what you need to do before and after you travel to England</li>
    <li>whether you're exempt from any rules</li>
  </ul>

  <%= render "govuk_publishing_components/components/heading", {
    text: "If you're travelling within the UK, Channel Islands and the Isle of Man",
    font_size: "m",
    margin_bottom: 4,
  } %>

  <p>Check the rules on travel from England if you're travelling to:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li><a href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-international-travel-advice">Northern Ireland</a></li>
    <li><a href="https://www.gov.scot/publications/coronavirus-covid-19-guidance-on-travel-and-transport">Scotland</a></li>
    <li><a href="https://gov.wales/foreign-travel-and-returning-home">Wales</a></li>
    <li><a href="https://covid19.gov.im/travel/travel-to-the-isle-of-man">the Isle of Man</a></li>
    <li>the Channel Islands (<a href="https://www.gov.je/Health/Coronavirus/Travel/Pages/CoronavirusTravelAdvice.aspx">Jersey</a> and <a href="https://covid19.gov.gg/guidance/travel">Guernsey</a>)</li>
  </ul>
<% end %>

<% govspeak_for :post_body do %>
  <p>If you're travelling to England from within the UK, Ireland, the Channel Islands or the Isle of Man and haven't been anywhere else within the 10 days before you arrive, there are no entry requirements for coming into England.</p>
<% end %>
