<% text_for :title do %>
  Vaccination status
<% end %>

<% govspeak_for :body do %>
  <a href="https://www.gov.uk/guidance/countries-with-approved-covid-19-vaccination-programmes-and-proof-of-vaccination#approved-vaccines">Approved COVID-19 vaccine programmes</a>
<% end %>

<% text_for :hint do %>
  Select one of the following options:
<% end %>

<% options(
  "3371ccf8123dfadf": "I will have had a second dose of an approved COVID-19 vaccine 14 or more days before I travel",
  "e9e286f8822bc330": "I'm taking part in an approved COVID-19 vaccine trial in the UK",
  "529202127233d442": "I cannot have a COVID-19 vaccination for a medical reason approved by a clinician",
  "9ddc7655bfd0d477": "None of the above",
) %>
