<% if calculator.purchased_before_feb_2022? %>
  <% text_for :title do %>
   How much did you pay for your property?
  <% end %>

  <% text_for :hint do %>
    You'll get a more accurate answer if you enter the exact value.
  <% end %>
<% else %>
  <% text_for :title do %>
    What was the value of your property the last time it was sold before 14 February 2022?
  <% end %>

  <% text_for :hint do %>
  Check the leaseholder certificate you got with the property or <a href="https://www.gov.uk/search-house-prices" class="govuk-link" rel="noreferrer noopener" target="_blank">search sold property prices</a>. You'll get a more accurate answer if you enter the exact value.
  <% end %>
<% end%>
