This guidance can help you carry out your risk assessment to make sure you keep employees and other people on site safe when opening during coronavirus (COVID‑19). 
The decision to return to the workplace must be made in meaningful consultation with workers, including through trade unions or employee representative groups where they exist. This should include a discussion of the timing and phasing of any return and any risk mitigations.

You should also consider the security implications of any decisions and control measures you want to put in place, as any revisions could present security risks that may require mitigation.

If you decide that your workers should come into their place of work then you need to reflect that in the COVID-19 risk assessment and confirm the actions taken to manage the risks of transmission in line with this guidance. Employers must engage with workers to make sure they feel safe returning to work, and are not being forced into an unsafe workplace.

Businesses must follow all instructions from authorities in the event of [new local restrictions](https://www.gov.uk/government/collections/local-restrictions-areas-with-an-outbreak-of-coronavirus-covid-19). 

The Public Health England report Disparities in the risk and outcomes of COVID-19 shows that some groups of people may be at higher risk of infection or suffering from adverse effects if infected. You should consider this in your risk assessment.
The higher-risk groups include those who:

- are older males
- have a high body mass index (BMI)
- have health conditions such as diabetes
- are from some Black, Asian or minority ethnicity (BAME) backgrounds

You should consider this in your risk assessment.
<% if calculator.sector?("close_contact") %>
  Close contact services include:

  - hairdressing
  - barbershops
  - beauty and nail bars
  - makeup
  - tattoo and spray tanning studios
  - spas
  - sports and massage therapy
  - well being and holistic locations
  - dress fitters
  - tailors
  - fashion designers
  - mobile hairdressers or those working in other people's homes 
  - people studying hair and beauty in vocational training environments 

  From 15 August 2020, you can provide all beauty treatments and services, including those in the highest risk zone area. Everyone working in close proximity for an extended period of time must wear a visor and a Type II face mask (medical face masks made up of a protective 3-ply construction that prevents large particles from reaching the client or working surfaces).
  
  Spas should keep saunas and steam rooms closed until further notice.
  
  Spas can operate facilities including gyms, jacuzzis, whirlpools, hydrotherapy and swimming pools. [Check the government guidance for details.](https://www.gov.uk/guidance/working-safely-during-coronavirus-covid-19/providers-of-grassroots-sport-and-gym-leisure-facilities)

<% end %>


<% if calculator.show?(:risk_assessment) %>
  ## Record your risk assessment

  You need to write down the findings of your risk assessment. The Health and Safety Executive (HSE) has a [risk assessment template](https://www.hse.gov.uk/simple-health-safety/risk/risk-assessment-template-and-examples.htm) and [information on how to do a risk assessment](https://www.hse.gov.uk/simple-health-safety/risk/steps-needed-to-manage-risk.htm).

  You should consider the protected characteristics of your employees, visitors and customers when conducting your risk assessment.

  You should share the results of your risk assessment with your workforce by displaying it prominently in your workplace, as well as on your website.

  Where spaces have been repurposed, you should carry out a fire risk assessment.

  ---
<% end %>

<%= render "on_site", calculator: calculator %>
<%= render "social_distancing", calculator: calculator %>
<%= render "cleaning", calculator: calculator %>

<% if calculator.show?(:visitors) %>
  ## Protecting customers and visitors on site

  You should:

  - work out the maximum number of customers that can reasonably follow social distancing guidelines (where they can stay 2 metres apart from other customers or 1 metre with risk mitigation where 2 metres is not viable)
  - inform customers and visitors of guidance about visiting the premises before they arrive (for example, by providing information on your website, booking forms, or over the phone)
  - use signs and provide clear information to your customers and visitors when they arrive
  - encourage customers to use hand sanitiser or handwashing facilities when they enter the premises
  - remind customers accompanied by children that they are responsible for supervising them at all times
  - adjust indoor and outdoor seating and tables to maintain social distancing guidelines
  - seat customers of the same household or support bubble together indoors
  - seat customers of up to two households or support bubbles together indoors with social distancing
  - make sure that customers of the same households or support bubble can be seated or stood together outdoors
  - make sure that customers of up to two households or support bubbles or a group of six people from any number of households can be seated or stood together outside with social distancing
  - work with your local authority or landlord to take into account the impact of your processes, including queues, on public spaces such as high streets and public car parks
  - work with neighbouring businesses and local authorities to provide additional parking or facilities such as bike-racks to help customers avoid using public transport
  - reduce the need for customers to queue, but where this is unavoidable, discourage customers from queueing indoors and use outside spaces for queueing where available and safe (for example, using car parks and existing outdoor services areas)
  - manage queues to ensure they do not cause a risk to individuals, other businesses or additional security risks
  - consider the needs of people’s protected characteristics, (such as age or disability when modifying the premise)
  - when booking an appointment for a close contact service, ask the client if they can attend on their own where possible
  - encourage clients to arrive at their appointment time and not too early or late to avoid congestion
  - ask clients screening questions before their appointment for close contact services (if they have a new continuous cough, a high temperature, or loss of smell or taste they should reschedule their appointment)
  - encourage customers in hotel and other guests accommodation to wear face coverings in communal areas
  - close indoor shared facilities including communal kitchens where guests prepare their own food, and other indoor communal areas where social distancing cannot be managed 
  - increase the existing ventilation rate by fully opening dampers and running fans on full speed 
  - operate the ventilation system 24 hours a day 
  - increase the frequency of filter changes
  - remind customers that face coverings are mandatory in most indoor places including shops and supermarkets, indoor shopping centres, banks, building societies, salons and hair dressers, massage parlours, tattoo and piercing parlours, post offices and where food or drink is purchased at a take-away outlet (some people don’t have to wear a face covering including [for health, age or equality reasons](https://www.gov.uk/guidance/coronavirus-covid-19-safer-travel-guidance-for-passengers#exemptions-face-coverings))

  <% if calculator.sector?("fitness") %>
    ### Sports and fitness facilities

    You should follow the above guidelines and:
    
    - discourage or minimise attendance by spectators and non-participating children, especially within indoor facilities (if a child is participating, allow one parent or carer to supervise their child while following social distancing)
    - suspend or modify activities where social distancing cannot be maintained
    - encourage outdoor activities where possible
    - place pieces of gym equipment appropriate distance apart to comply with social distancing guidelines 
    - put temporary floor markings in dance and fitness studios to define required space between individuals
    - restrict numbers in swimming pools to allow 3 square metres per bather
    - manage capacity in hydrotheraphy pools (where close contact is necessary due to immediate safety concerns, it should be kept to a minimum by those not part of the same household or social support bubble)
    - avoid use of shared objects such as towels, robes, rackets, balls, weights unless they can be cleaned or sanitised between users
    - make sure that water fountains have signage which prevent face-to-tap drinking and that those facilities are used to only refill personal bottles
    - operate beauty, massage and physio services by following [the relevant salon guidance](https://www.gov.uk/guidance/working-safely-during-coronavirus-covid-19/close-contact-services)

  <% end %>

  <% if calculator.sector?("hotels") %>
    ### Room Service

    You should:

    - encourage customers to order over the phone
    - minimise contact between kitchen employees and front of house staff by arranging drop-off and pick up points
    - take measures such as dropping butler’s trays outside door, and encouraging tips to be added to the bill
    - make staff accessible to guests via phone, emails and guest apps

  <% end %>
  ---
<% end %>

<% if calculator.sector?("fitness") %>
  ## Protecting visiting instructors, coaches, teachers and management

  To make sure safe practices for visiting instructors and supervisors that rotate across sports venues and leisure facilities, you should:

  - limit the number of classes that rotating instructors teach in order to minimise exposure
  - determine the number of facilities you are comfortable with instructors rotating between, to minimise exposure 
  - establish a private testing programme for rotating or visiting instructors

  ---
<% end %>

<% if calculator.show?(:staff_meetings) %>
  ## Keeping safe in meetings

  You should:

  - only have meetings in person if you cannot meet remotely
  - stay 2 metres apart (or 1 metre with risk mitigation where 2 metres is not viable)
  - use signs on the floor to help people maintain social distancing
  - have meetings outdoors or in ventilated rooms
  - not share objects like pens
  - have hand sanitiser in meeting rooms

  ---
<% end %>

<% if calculator.show?(:staff_travel) %>
  ## Keeping employees safe when they travel for work

  You should:

  - only travel for essential work
  - have fixed groups of people travelling so that any contact happens between the same people
  - clean company vehicles between shifts
  - make sure accommodation meets social distancing guidelines
  - keep a log of who is staying where
  
  ---
<% end %>

<% if calculator.show?(:send_or_receive_goods) %>
  ## Receiving and sending goods safely

  You should:

  - minimise contact at drop-off and collection
  - minimise contact when people pay for or exchange things, for example by using contactless and electronically signed documents
  - minimise contact at security, yard and warehouse
  - minimise the frequency of deliveries, for example by ordering larger amounts at a time
  - have single workers load or unload vehicles if it’s safe to do so
  - have fixed pairs or teams where you need more than 1 person for loading
  - encourage drivers to stay in the vehicle where it’s safe
  
  ---
<% end %>

## More help with your risk assessment

[Read the detailed guidance for your sector](https://www.gov.uk/guidance/working-safely-during-coronavirus-covid-19).
This guidance can help you carry out your risk assessment to make sure you keep employees and other people on site safe when opening during coronavirus (COVID‑19).

<div data-module="track-click" data-track-category="printButtonBottom" data-track-action="clicked" data-track-label="Print this page">
  <%= render "govuk_publishing_components/components/print_link", text: "Print this page" %>
</div>
