<% text_for :title do %>
  Support you may be entitled to
<% end %>

<% govspeak_for :body do %>

  <% if calculator.show?(:job_retention_scheme) %>
    $CTA
    ### Coronavirus Job Retention Scheme

    If you are an employer with a PAYE scheme, you can get support to continue paying part of your employees' salary instead of making staff redundant. This is also known as putting them 'on furlough'.

    This applies to employees who have been asked to stop working because of coronavirus, but are being kept on the payroll. You can claim for the hours they have not worked. 

    The scheme is open until 31 March 2021.

    For claims up to January 2021, HMRC will pay 80% of employees' usual salary, up to a maximum of £2,500 per month.

    In January the amount you can get from January to March will be announced. 

    [Check if your employees are eligible for the Coronavirus Job Retention Scheme](/guidance/claim-for-wage-costs-through-the-coronavirus-job-retention-scheme)
    $CTA
  <% end %>

  $CTA
  ### Deferring VAT

  If you’re a UK VAT registered business and had a VAT payment due between 20 March 2020 and 30 June 2020, you can defer payment until 31 March 2021.

  [Check if you are eligible to defer your VAT payment](/guidance/deferral-of-vat-payments-due-to-coronavirus-covid-19)
  $CTA

  <% if calculator.show?(:statutory_sick_rebate) %>
    $CTA
    ### Statutory Sick Pay rebate

    You can reclaim Statutory Sick Pay you’ve paid for employees who are off sick, self isolating or shielding because of coronavirus. This scheme will cover up to 2 weeks of SSP for every eligible employee.

    You’re eligible if both of the following apply to your business:

    - it’s based in the UK 
    - it has had fewer than 250 employees since 28 February 2020

    [Claim back Statutory Sick Pay paid to employees because of coronavirus](/guidance/claim-back-statutory-sick-pay-paid-to-employees-due-to-coronavirus-covid-19)
    $CTA
  <% end %>

  <% if calculator.show?(:self_employed_income_scheme) %>
    $CTA
    ### Self-Employment Income Support Scheme Grant Extension
    
    You can get 2 one off taxable payments. The first payment will cover 1 November 2020 to 31 January 2021. You’ll get 80% of your average monthly trading profits or £7,500 (whichever is lower). 

    The second payment will cover 1 February 2021 to 30 April 2021. The amount has not been announced yet.

    You can claim if both the following apply:

    - you’re self-employed - including a member of a partnership
    - you were eligible for the Self-Employment Income Support Scheme first and second grant - even if you did not claim them 

    You must also plan to continue working and either:
    
     - you’re currently actively trading and coronavirus has reduced demand for your business
     - you were previously trading but temporarily cannot trade because of coronavirus

    You cannot claim the grant if you trade through a limited company or a trust.

    You cannot claim for the Self-Employment Income Support Scheme Grant Extension yet. You'll be able to claim the first grant from 30 November 2020. 

    Find out more about the [Self-Employment Income Support Scheme Grant Extension](/government/publications/self-employment-income-support-scheme-grant-extension/self-employment-income-support-scheme-grant-extension)

    $CTA
  <% end %>

  <% if calculator.show?(:retail_hospitality_leisure_business_rates) %>
    $CTA
    ### Business rates holiday for retail, hospitality and leisure

    You will not have to pay business rates for the 2020 to 2021 tax year if your business is in retail, hospitality or leisure.

    You do not need to do anything. If you are eligible, your local council will apply the discount automatically.

    You’re eligible if your property is a:

    - shop
    - restaurant, café, bar or pub
    - cinema or live music venue
    - leisure or assembly property - for example, a sports club, a gym or a spa
    - hospitality property - for example, a hotel, a guest house or self-catering accommodation

    [Contact your local council](/find-local-council) if you think you’re eligible and you have not received the business rates discount.
    $CTA
  <% end %>

  <% if calculator.show?(:nursery_support) %>
    $CTA
    ### Support for nursery businesses that pay business rates

    Nurseries in England do not have to pay business rates for the 2020 to 2021 tax year. Your council will do this automatically.

    You’re eligible if your business is on Ofsted’s Early Years Register and provides care and education for children up to 5 years old (early years foundation stage).

    Local authority-run nurseries are not eligible.

    Contact your [local council](/find-local-council) if you think you’re eligible and you have not received business rates relief.
    $CTA
  <% end %>

  <% if calculator.show?(:business_loan_scheme) %>
    $CTA
    ### Coronavirus Business Interruption Loan Scheme

    You can get loans and other kinds of finance of up to £5 million for small or medium-sized enterprises or if you’re self-employed.

    You’re eligible for this scheme if both the following apply to your business:

    - it’s based in the UK
    - it has a turnover of £45 million or less per year

    You also need to show your business:

    - would be considered viable by a lender, if not for the current pandemic
    - has been negatively affected by coronavirus 

    The scheme is open until 31 January 2021.

    [Find out how to apply for the Coronavirus Business Interruption Loan Scheme](/guidance/apply-for-the-coronavirus-business-interruption-loan-scheme)
    $CTA
  <% end %>

  <% if calculator.show?(:bounce_back_loan) %>
    $CTA
    ### Coronavirus Bounce Back Loan

    You might be able to borrow between £2,000 and £50,000 for a  small or medium-sized enterprise, or if you’re self employed.

    The government will guarantee 100% of the loan and for the first 12 months you will not have to pay any fees or interest, or make repayments. If you already have a Bounce Back Loan but borrowed less than you were entitled to, you can top up your existing loan to your maximum amount. You must apply for the top-up by 31 January 2021.

    You're eligible for this scheme if your business:

     - is based in the UK
     - was established before 1 March 2020
     - has been negatively affected by coronavirus

    The scheme is open until 31 January 2021.

    [Find out how to apply for a Coronavirus Bounce Back loan](/guidance/apply-for-a-coronavirus-bounce-back-loan)
    $CTA
  <% end %>

  $CTA
  ### Support for businesses paying tax: Time To Pay Service

  If you cannot pay your tax bill on time because of coronavirus, you may be able to delay it without penalty using HMRC’s Time to Pay service.

  You might be eligible if your UK business:

  - pays tax to the UK government
  - has outstanding tax liabilities

  [Find out what to do if you cannot pay your tax bill on time](/difficulties-paying-hmrc)
  $CTA

  <% if calculator.show?(:large_business_loan_scheme) %>
    $CTA
    ### Coronavirus Large Business Interruption Loan Scheme

    This scheme helps medium and large businesses access loans of up to £200 million from commercial lenders. It gives a government guarantee of 80% on those loans.

    You can apply for this loan if your business:

    - is UK based
    - has an annual turnover of at least £45 million
    - has not received support under the Bank of England’s coronavirus corporate financing facility

    The scheme is open until 31 January 2021.

    [Apply for the Coronavirus Large Business Interruption Loan Scheme](/guidance/apply-for-the-coronavirus-large-business-interruption-loan-scheme)
    $CTA
  <% end %>

  <% if calculator.show?(:future_fund) %>
    $CTA
    ### Future Fund

    The Future Fund scheme gives convertible loans from £125,000 to £5 million to companies facing financing difficulties because of coronavirus. The loan must be matched by funding from a private investor.

    Your business is eligible if:

    - it’s UK incorporated - if your business is part of a corporate group, only the parent company is eligible
    - it’s raised at least £250,000 in equity investment from third-party investors in the past 5 years
    - none of its shares are traded on a regulated market, multilateral trading facility or other listing venue
    - it was incorporated on or before 31 December 2019
    - half or more of the employees are UK-based, or half or more of the revenue is from UK sales

    The scheme is open until 31 January 2021.

    [Find out how to apply for the Future Fund scheme](/guidance/future-fund)
    $CTA
  <% end %>

  <% if calculator.show?(:kickstart_scheme) %>
    $CTA
    ### Support to create job placements: Kickstart Scheme

    The Kickstart Scheme gives you financial support to create new 6-month job placements for young people who are currently on Universal Credit and at risk of long-term unemployment. The scheme is open to all organisations.

    It pays:

    - 100% of the relevant National Minimum Wage for 25 hours a week
    - employer National Insurance
    - minimum automatic pension enrolment contributions
    - £1,500 per job placement for setup costs, support and training

    Each application is for a minimum of 30 job placements. You can partner with other organisations if you have fewer than 30.

    [Check if you can apply for a Kickstart Grant](/guidance/check-if-you-can-apply-for-a-grant-through-the-kickstart-scheme)
    $CTA
  <% end %>

  <% if calculator.business_based == "scotland" %>
    $CTA
    Find out [what support is available in Scotland](https://findbusinesssupport.gov.scot/coronavirus-advice).
    You can be eligible for both Scottish and UK-wide schemes.
    $CTA
  <% end %>

  <% if calculator.business_based == "wales" %>
    $CTA
    Find out [what support is available in Wales](https://businesswales.gov.wales/coronavirus-advice).
    You can be eligible for both Welsh and UK-wide schemes.
    $CTA
  <% end %>

  <% if calculator.business_based == "northern_ireland" %>
    $CTA
    Find out [what support is available in Northern Ireland](https://www.nibusinessinfo.co.uk/business-support/coronavirus).
    You can be eligible for both Northern Ireland and UK-wide schemes.
    $CTA
  <% end %>

  You may be eligible for more than one scheme, whether your business is open or closed.

  [All information on support for businesses](/coronavirus/business-support).
<% end %>

<% html_for :body do %>
  <div class="app-c-email-link">
    <svg class="app-c-email-link__icon" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 459.334 459.334">
      <path fill="black" d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"></path>
    </svg>
    <h3 class="govuk-heading-s app-c-email-link__title">Stay up to date</h3>
    <a class="govuk-body govuk-link" href="/email-signup/?topic=/coronavirus-taxon/funding-and-support">Sign up for email updates about business funding and support</a>
  </div>
<% end %>
