<% render_content_for :title do %>
  Support you may be entitled to
<% end %>

<% render_content_for :body do %>
  <% if calculator.show?(:job_retention_scheme) %>
    $CTA
    ### Coronavirus Job Retention Scheme

    If you are an employer with a PAYE scheme, you should be able to access support to continue paying part of your employees’ salary instead of laying them off.

    This applies to employees who have been asked to stop working because of coronavirus, but are being kept on the payroll. They are known as ‘furloughed workers’. HMRC will pay 80% of their wages, up to £2,500 per month.

    <a data-module="track-click"
       data-track-category="Internal Link Clicked"
       data-track-action="/guidance/claim-for-wage-costs-through-the-coronavirus-job-retention-scheme"
       data-track-label="Check if you are eligible for the Coronavirus Job Retention Scheme"
       href="/guidance/claim-for-wage-costs-through-the-coronavirus-job-retention-scheme">Check if you are eligible for the Coronavirus Job Retention Scheme</a>
    $CTA
  <% end %>

  $CTA
  ### Deferring VAT

  If you’re a UK VAT registered business and have a VAT payment due between 20 March 2020 and 30 June 2020, you have the option to defer payment until 31 March 2021.

  <a data-module="track-click"
     data-track-category="Internal Link Clicked"
     data-track-action="/guidance/deferral-of-vat-payments-due-to-coronavirus-covid-19"
     data-track-label="Check if you are eligible to defer your VAT payment"
     href="/guidance/deferral-of-vat-payments-due-to-coronavirus-covid-19">Check if you are eligible to defer your VAT payment</a>
  $CTA

  <% if calculator.show?(:self_assessment_payments) %>
    $CTA
    ### Deferring Self Assessment payments on account

    If you are due to pay a Self Assessment payment on account by 31 July 2020, you can defer payment up until January 2021. You will not be charged any interest or penalties during the deferral period.

    You do not need to be self-employed to be eligible for the deferment.

    The deferment is optional. If you are still able to pay your second payment on 31 July, you should do so.

    This is an automatic offer. You do not need to apply for the deferral, or tell HMRC. If you normally pay by Direct Debit you should contact your bank to cancel your Direct Debit as soon as you can. You do not need to contact HMRC before doing this.

    <a data-module="track-click"
       data-track-category="Internal Link Clicked"
       data-track-action="/guidance/defer-your-self-assessment-payment-on-account-due-to-coronavirus-covid-19"
       data-track-label="Check if you are eligible to defer your Self Assessment payment on account"
       href="/guidance/defer-your-self-assessment-payment-on-account-due-to-coronavirus-covid-19">Check if you are eligible to defer your Self Assessment payment on account</a>
    $CTA
  <% end %>

  <% if calculator.show?(:statutory_sick_rebate) %>
    $CTA
    ### Statutory Sick Pay rebate

    Employers can reclaim Statutory Sick Pay (SSP) paid for sickness absence due to COVID-19. This scheme will cover up to 2 weeks of SSP for every eligible employee.

    Employers must maintain records of staff absences and payments for SSP. Employees will not have to provide a GP fit note.

    You are eligible if your business meets both of the following requirements. Your business is:

    - UK based
    - small or medium-sized and employs fewer than 250 employees as of 28 February 2020

    <a data-module="track-click"
       data-track-category="Internal Link Clicked"
       data-track-action="/guidance/claim-back-statutory-sick-pay-paid-to-employees-due-to-coronavirus-covid-19"
       data-track-label="Claim back Statutory Sick Pay paid to employees due to coronavirus (COVID-19)"
       href="/guidance/claim-back-statutory-sick-pay-paid-to-employees-due-to-coronavirus-covid-19">Claim back Statutory Sick Pay paid to employees due to coronavirus (COVID-19)</a>
    $CTA
  <% end %>

  <% if calculator.show?(:self_employed_income_scheme) %>
    $CTA
    ### Self-Employment Income Support Scheme

    If you are self-employed (either as an individual or in a partnership), you can claim a taxable grant worth 80% of your trading profits up to a maximum of £2,500 per month, for 3 months. This may be extended.

    You may be eligible for this scheme if:

    - you've lost profits due to coronavirus
    - you've submitted your Self Assessment tax return for 2018 to 2019 tax year
    - you traded in 2019 to 2020 tax year
    - you are trading when you apply, or would be except for coronavirus
    - you intend to continue trading in 2020 to 2021 tax year
    - your trading profits have been no more than £50,000 for either 2018 to 2019 tax year, or as an average of last 3 financial years
    - your trading profits have been more than half of your total income for either 2018 to 2019 tax year, or as an average of last 3 financial years

    ^Trading profits do not include dividends paid from your own company to yourself.^

    If you are not eligible for Self-Employed Income Support Scheme, you may be eligible for
    <a data-module="track-click"
       data-track-category="Internal Link Clicked"
       data-track-action="/universal-credit"
       data-track-label="Universal Credit"
       href="/universal-credit">Universal Credit</a>
    or
    <a data-module="track-click"
       data-track-category="Internal Link Clicked"
       data-track-action="/employment-support-allowance/eligibility"
       data-track-label="Employment and Support Allowance"
       href="/employment-support-allowance/eligibility">Employment and Support Allowance</a>.

    <a data-module="track-click"
       data-track-category="Internal Link Clicked"
       data-track-action="/guidance/claim-a-grant-through-the-coronavirus-covid-19-self-employment-income-support-scheme"
       data-track-label="Claim a grant through the Self-Employment Income Support Scheme"
       href="/guidance/claim-a-grant-through-the-coronavirus-covid-19-self-employment-income-support-scheme">Claim a grant through the Self-Employment Income Support Scheme</a>
    $CTA
  <% end %>

  <% if calculator.show?(:retail_hospitality_leisure_business_rates) %>
    $CTA
    ### Business rates holiday for retail, hospitality and leisure

    Businesses in the retail, hospitality and leisure sectors in England will not have to pay business rates for the 2020 to 2021 tax year.

    You do not need to do anything. If you are eligible, your local council will apply the discount automatically.

    You’re eligible if your property is a:

    - shop
    - restaurant, café, bar or pub
    - cinema or live music venue
    - assembly or leisure property - for example, a sports club, a gym or a spa
    - hospitality property - for example, a hotel, a guest house or self-catering accommodation

    <a data-module="track-click"
       data-track-category="Internal Link Clicked"
       data-track-action="/guidance/check-if-your-retail-hospitality-or-leisure-business-is-eligible-for-business-rates-relief-due-to-coronavirus-covid-19"
       data-track-label="Check if your retail, hospitality or leisure business is eligible for business rates relief due to coronavirus (COVID-19)"
       href="/guidance/check-if-your-retail-hospitality-or-leisure-business-is-eligible-for-business-rates-relief-due-to-coronavirus-covid-19">Check if your retail, hospitality or leisure business is eligible for business rates relief due to coronavirus (COVID-19)</a>
    $CTA
  <% end %>

  <% if calculator.show?(:retail_hospitality_leisure_grant_funding) %>
    $CTA
    ### Retail, Hospitality and Leisure Grant Fund

    You may be eligible for a grant of up to £25,000 per property.

    If your business has a property with a rateable value of £15,000 or under, you may be eligible for a grant of £10,000.

    If your business has a property that has a rateable value of over £15,000 but less than £51,000, you may be eligible for a grant of £25,000.

    You are eligible if your business:

    - is based in England
    - is in the retail, hospitality or leisure sector
    - has a property that is wholly or mainly used as hospitality, retail, or leisure venue

    Contact your local council if you think you are eligible for a grant but have not yet received it.

    <a data-module="track-click"
       data-track-category="Internal Link Clicked"
       data-track-action="/government/publications/coronavirus-covid-19-business-support-grant-funding-guidance-for-businesses"
       data-track-label="Coronavirus guidance on business support grant funding"
       href="/government/publications/coronavirus-covid-19-business-support-grant-funding-guidance-for-businesses">Coronavirus guidance on business support grant funding</a>
    $CTA
  <% end %>

  <% if calculator.show?(:nursery_support) %>
    $CTA
    ### Support for nursery businesses that pay business rates

    Nurseries in England do not have to pay business rates for the 2020 to 2021 tax year. Your council will do this automatically.

    You’re eligible if your business is on Ofsted’s Early Years Register and provides care and education for children up to 5 years old (early years foundation stage).

    Local authority-run nurseries are not eligible.

    <a data-module="track-click"
       data-track-category="Internal Link Clicked"
       data-track-action="/guidance/check-if-your-nursery-is-eligible-for-business-rates-relief-due-to-coronavirus-covid-19"
       data-track-label="Check if your nursery is eligible for business rates relief due to coronavirus (COVID-19)"
       href="/guidance/check-if-your-nursery-is-eligible-for-business-rates-relief-due-to-coronavirus-covid-19">Check if your nursery is eligible for business rates relief due to coronavirus (COVID-19)</a>
    $CTA
  <% end %>

  <% if calculator.show?(:small_business_grant_funding) %>
    $CTA
    ### Small Business Grant Funding

    You may be eligible for a one-off grant of £10,000 if you are a small business that already pays little or no business rates because of:

    - small business relief (SBBR)
    - rural rate relief (RRR)
    - tapered relief

    You are eligible if:

    - your business is based in England
    - in receipt of small business rate relief or rural rate relief as of 11 March 2020
    - you are a business that occupies a property

    Contact your local council if you think you are eligible for a grant but have not yet received it.

    <a data-module="track-click"
       data-track-category="Internal Link Clicked"
       data-track-action="/government/publications/coronavirus-covid-19-business-support-grant-funding-guidance-for-businesses"
       data-track-label="Coronavirus: business support grant funding guidance for businesses"
       href="/government/publications/coronavirus-covid-19-business-support-grant-funding-guidance-for-businesses">Coronavirus: business support grant funding guidance for businesses</a>
    $CTA
  <% end %>

  <% if calculator.show?(:discretionary_grant) %>
    $CTA
    ### Discretionary Grant Fund

    Small and micro businesses with fixed property costs that are not eligible for the Small Business Grant Fund or the Retail, Hospitality and Leisure Grant Fund may be eligible for the Discretionary Grant Scheme.

    You can get a grant of £25,000, £10,000 or any amount under £10,000.

    <a data-module="track-click"
       data-track-category="Internal Link Clicked"
       data-track-action="/guidance/apply-for-the-coronavirus-local-authority-discretionary-grants-fund"
       data-track-label="Check if your business is eligible for the Discretionary Grant Fund"
       href="/guidance/apply-for-the-coronavirus-local-authority-discretionary-grants-fund">Check if your business is eligible for the Discretionary Grant Fund</a>
    $CTA
  <% end %>

  <% if calculator.show?(:business_loan_scheme) %>
    $CTA
    ### Coronavirus Business Interruption Loan Scheme

    If you are a small to medium-sized business (SME) you may be able to apply for a temporary loan, overdraft, invoice finance and asset finance of up to £5 million, for up to 6 years.

    You may also be eligible for Business Interruption Payment to cover the first 12 months of interest payments and any lender fees. The government will give lenders 80% guarantee on each loan (subject to pre-lender cap on claims).

    ^Self-employed people are also eligible for Coronavirus Business Interruption Loan Scheme.^

    You may be eligible for this scheme if you meet all of the following criteria:

    - your business is UK-based, with a turnover of no more than £45 million per year
    - you have a borrowing proposal which would be considered viable by the lender, if not for the current pandemic
    - you can self-certify that coronavirus (COVID-19) has adversely impacted your business

    <a data-module="track-click"
       data-track-category="Internal Link Clicked"
       data-track-action="/guidance/apply-for-the-coronavirus-business-interruption-loan-scheme"
       data-track-label="Apply for the Coronavirus Business Interruption Loan Scheme"
       href="/guidance/apply-for-the-coronavirus-business-interruption-loan-scheme">Apply for the Coronavirus Business Interruption Loan Scheme</a>
    $CTA
  <% end %>

  <% if calculator.show?(:bounce_back_loan) %>
    $CTA
    ### Coronavirus Bounce Back Loan

    If your small to medium-sized business (SME) is affected by coronavirus, you may be able to borrow between £2,000 and £50,000 through a Bounce Back Loan scheme.

    The government will guarantee 100% of the loan and for the first 12 months you will not have to pay any fees or interest, or make repayments.

    You may be eligible for this scheme if your business:

    - has been negatively affected by coronavirus
    - was not an ‘undertaking in difficulty’ on 31 December 2019

    This includes self-employed people.

    <a data-module="track-click"
       data-track-category="Internal Link Clicked"
       data-track-action="/guidance/apply-for-a-coronavirus-bounce-back-loan"
       data-track-label="Apply for a Coronavirus Bounce Back loan"
       href="/guidance/apply-for-a-coronavirus-bounce-back-loan">Apply for a Coronavirus Bounce Back loan</a>
    $CTA
  <% end %>

  $CTA
  ### Support for businesses paying tax: Time To Pay Service

  If you cannot pay your tax bill on time because of coronavirus, you may be able to delay it without penalty using HMRC’s Time to Pay service.

  You may be eligible if you are a UK business that:

  - pays tax to the UK government
  - has outstanding tax liabilities

  <a data-module="track-click"
     data-track-category="Internal Link Clicked"
     data-track-action="/difficulties-paying-hmrc"
     data-track-label="If you cannot pay your tax bill on time"
     href="/difficulties-paying-hmrc">If you cannot pay your tax bill on time</a>
  $CTA

  <% if calculator.show?(:large_business_loan_scheme) %>
    $CTA
    ### Coronavirus Large Business Interruption Loan Scheme

    The Coronavirus Large Business Interruption Loan Scheme (CLBILS) provides a government guarantee of 80% on each loan, to give banks further confidence in financing businesses impacted by coronavirus.

    It allows banks to make loans of:

    - up to £25 million to businesses with an annual turnover of £45 million to £250 million
    - up to £50 million to businesses with an annual turnover of over £250 million

    You can apply for this loan if your business:

    - is UK based
    - has an annual turnover of at least £45 million
    - meets the other British Business Bank eligibility requirements

    The scheme is delivered through commercial lenders, supported by the Government-backed British Business Bank. Facilities backed by a guarantee under CLBILS are offered at commercial rates of interest.

    <a data-module="track-click"
       data-track-category="Internal Link Clicked"
       data-track-action="/guidance/apply-for-the-coronavirus-large-business-interruption-loan-scheme"
       data-track-label="Apply for the Coronavirus Large Business Interruption Loan Scheme"
       href="/guidance/apply-for-the-coronavirus-large-business-interruption-loan-scheme">Apply for the Coronavirus Large Business Interruption Loan Scheme</a>
    $CTA
  <% end %>

  <% if calculator.business_based == "scotland" %>
    $CTA
    Find out [what support is available in Scotland](https://findbusinesssupport.gov.scot/coronavirus-advice).
    You can be eligible for both Scottish and UK-wide schemes.
    $CTA
  <% end %>

  <% if calculator.business_based == "wales" %>
    $CTA
    Find out [what support is available in Wales](https://businesswales.gov.wales/coronavirus-advice).
    You can be eligible for both Welsh and UK-wide schemes.
    $CTA
  <% end %>

  <% if calculator.business_based == "northern_ireland" %>
    $CTA
    Find out [what support is available in Northern Ireland](https://www.nibusinessinfo.co.uk/business-support/coronavirus).
    You can be eligible for both Northern Ireland and UK-wide schemes.
    $CTA
  <% end %>

  Please note that you may be eligible for more than one scheme, whether your business is open or closed.

  For detailed information about different types of business support schemes, check the
  <a data-module="track-click"
     data-track-category="Internal Link Clicked"
     data-track-action="/coronavirus/business-support"
     data-track-label="coronavirus business support page"
     href="/coronavirus/business-support">coronavirus business support page</a>.
<% end %>

<% render_content_for :body, format: :html do %>
  <div class="app-c-email-link">
    <svg class="app-c-email-link__icon" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 459.334 459.334">
      <path fill="black" d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"></path>
    </svg>
    <h3 class="govuk-heading-s app-c-email-link__title">Stay up to date</h3>
    <a class="govuk-body govuk-link"
       data-module="track-click"
       data-track-category="Internal Link Clicked"
       data-track-action="/email-signup/?topic=/coronavirus-taxon/funding-and-support"
       data-track-label="Sign up for email updates about business funding and support"
       href="/email-signup/?topic=/coronavirus-taxon/funding-and-support">Sign up for email updates about business funding and support</a>
  </div>
<% end %>
