<% text_for :title do %>
  Support you may be entitled to
<% end %>

<% govspeak_for :body do %>

  $CTA
  ### Deferring VAT

  If you’re a UK VAT registered business and had a VAT payment due between 20 March 2020 and 30 June 2020, you have the option to defer payment until 31 March 2021.

  [Check if you are eligible to defer your VAT payment](/guidance/deferral-of-vat-payments-due-to-coronavirus-covid-19)
  $CTA

  <% if calculator.show?(:statutory_sick_rebate) %>
    $CTA
    ### Statutory Sick Pay rebate

    Employers can reclaim Statutory Sick Pay (SSP) paid for sickness absence due to COVID‑19. This scheme will cover up to 2 weeks of SSP for every eligible employee.

    Employers must maintain records of staff absences and payments for SSP. Employees will not have to provide a GP fit note.

    You are eligible if your business meets both of the following requirements. Your business is:

    - UK based
    - small or medium-sized and employs fewer than 250 employees as of 28 February 2020

    [Claim back Statutory Sick Pay paid to employees due to coronavirus (COVID‑19)](/guidance/claim-back-statutory-sick-pay-paid-to-employees-due-to-coronavirus-covid-19)
    $CTA
  <% end %>

  <% if calculator.show?(:self_employed_income_scheme) %>
    $CTA
    ### Self-Employment Income Support Scheme Grant Extension
    
    You can get 2 one off taxable payments. The first payment will cover 1 November 2020 to 31 January 2021. You’ll get 55% of your average monthly trading profits or £5,610 (whichever is lower). The second payment will cover 1 February 2021 to 30 April 2021. The amount has not been announced yet.

    It is available to self-employed individuals, including members of partnerships, who have been previously eligible for the Self-Employment Income Support Scheme first and second grant (although you do not have to have claimed the previous grants). You must also plan to continue working and either:
    
     - you’re currently actively trading and coronavirus has reduced demand for your business
     - you were previously trading but temporarily cannot because of coronavirus

    You cannot claim the grant if you trade through a limited company or a trust.

    You cannot claim for the Self-Employment Income Support Scheme Grant Extension yet. You’ll be able to claim from 30 November 2020 for the first grant. 

    Find out more about the [Self-Employment Income Support Scheme Grant Extension](/government/publications/self-employment-income-support-scheme-grant-extension/self-employment-income-support-scheme-grant-extension)

    $CTA
  <% end %>

  <% if calculator.show?(:retail_hospitality_leisure_business_rates) %>
    $CTA
    ### Business rates holiday for retail, hospitality and leisure

    Businesses in the retail, hospitality and leisure sectors in England will not have to pay business rates for the 2020 to 2021 tax year.

    You do not need to do anything. If you are eligible, your local council will apply the discount automatically.

    You’re eligible if your property is a:

    - shop
    - restaurant, café, bar or pub
    - cinema or live music venue
    - assembly or leisure property - for example, a sports club, a gym or a spa
    - hospitality property - for example, a hotel, a guest house or self-catering accommodation

    [Check if your retail, hospitality or leisure business is eligible for business rates relief due to coronavirus (COVID‑19)](/guidance/check-if-your-retail-hospitality-or-leisure-business-is-eligible-for-business-rates-relief-due-to-coronavirus-covid-19)
    $CTA
  <% end %>

  <% if calculator.show?(:nursery_support) %>
    $CTA
    ### Support for nursery businesses that pay business rates

    Nurseries in England do not have to pay business rates for the 2020 to 2021 tax year. Your council will do this automatically.

    You’re eligible if your business is on Ofsted’s Early Years Register and provides care and education for children up to 5 years old (early years foundation stage).

    Local authority-run nurseries are not eligible.

    [Check if your nursery is eligible for business rates relief due to coronavirus (COVID‑19)](/guidance/check-if-your-nursery-is-eligible-for-business-rates-relief-due-to-coronavirus-covid-19)
    $CTA
  <% end %>

  <% if calculator.show?(:business_loan_scheme) %>
    $CTA
    ### Coronavirus Business Interruption Loan Scheme

    If you are a small to medium-sized business (SME) you may be able to apply for a temporary loan, overdraft, invoice finance and asset finance of up to £5 million, for up to 6 years.

    You may also be eligible for Business Interruption Payment to cover the first 12 months of interest payments and any lender fees. The government will give lenders 80% guarantee on each loan (subject to pre-lender cap on claims).

    ^Self-employed people are also eligible for Coronavirus Business Interruption Loan Scheme.^

    You may be eligible for this scheme if you meet all of the following criteria:

    - your business is UK-based, with a turnover of no more than £45 million per year
    - you have a borrowing proposal which would be considered viable by the lender, if not for the current pandemic
    - you can self-certify that coronavirus (COVID‑19) has adversely impacted your business

    The scheme is open until 31 January 2021.

    [Apply for the Coronavirus Business Interruption Loan Scheme](/guidance/apply-for-the-coronavirus-business-interruption-loan-scheme)
    $CTA
  <% end %>

  <% if calculator.show?(:bounce_back_loan) %>
    $CTA
    ### Coronavirus Bounce Back Loan

    If your small to medium-sized business (SME) is affected by coronavirus, you may be able to borrow between £2,000 and £50,000 through a Bounce Back Loan scheme.

    The government will guarantee 100% of the loan and for the first 12 months you will not have to pay any fees or interest, or make repayments.

    You may be eligible for this scheme if your business:

    - has been negatively affected by coronavirus
    - was not an ‘undertaking in difficulty’ on 31 December 2019

    This includes self-employed people.

    The scheme is open until 31 January 2021.

    [Apply for a Coronavirus Bounce Back loan](/guidance/apply-for-a-coronavirus-bounce-back-loan)
    $CTA
  <% end %>

  $CTA
  ### Support for businesses paying tax: Time To Pay Service

  If you cannot pay your tax bill on time because of coronavirus, you may be able to delay it without penalty using HMRC’s Time to Pay service.

  You may be eligible if you are a UK business that:

  - pays tax to the UK government
  - has outstanding tax liabilities

  [If you cannot pay your tax bill on time](/difficulties-paying-hmrc)
  $CTA

  <% if calculator.show?(:large_business_loan_scheme) %>
    $CTA
    ### Coronavirus Large Business Interruption Loan Scheme

    The Coronavirus Large Business Interruption Loan Scheme (CLBILS) provides a government guarantee of 80% on each loan, to give banks further confidence in financing businesses impacted by coronavirus. It allows banks to make loans of up to £200 million.

    You can apply for this loan if your business:

    - is UK based
    - has an annual turnover of at least £45 million
    - meets the other British Business Bank eligibility requirements

    The scheme is delivered through commercial lenders, supported by the Government-backed British Business Bank. Facilities backed by a guarantee under CLBILS are offered at commercial rates of interest.

    The scheme is open until 31 January 2021.

    [Apply for the Coronavirus Large Business Interruption Loan Scheme](/guidance/apply-for-the-coronavirus-large-business-interruption-loan-scheme)
    $CTA
  <% end %>

  <% if calculator.show?(:future_fund) %>
    $CTA
    ### Future Fund

    The Future Fund scheme will issue convertible loans between £125,000 to £5 million to innovative companies facing financing difficulties due to the coronavirus outbreak. The loan has to be matched by funding from a private investor.

    Your business is eligible if:

    - it is UK-incorporated (if your business is part of a corporate group, only the parent company is eligible)
    - it has raised at least £250,000 in equity investment from third-party investors in the last 5 years
    - none of its shares are traded on a regulated market, multilateral trading facility or other listing venue
    - it was incorporated on or before 31 December 2019
    - half or more employees are UK-based or half or more revenues are from UK sales

    The scheme is open until 31 January 2021.

    [Find out how to apply](/guidance/future-fund)
    $CTA
  <% end %>

  <% if calculator.show?(:kickstart_scheme) %>
    $CTA
    ### Support to create job placements: Kickstart Scheme

    The Kickstart Scheme gives you financial support to create new 6-month job placements for young people who are currently on Universal Credit and at risk of long-term unemployment. The scheme is open to all organisations.

    It pays:

    - 100% of the relevant National Minimum Wage for 25 hours a week
    - employer National Insurance
    - minimum automatic pension enrolment contributions
    - £1,500 per job placement for setup costs, support and training

    Each application is for a minimum of 30 job placements. You can partner with other organisations if you have fewer than 30.

    [Check if you can apply for a Kickstart Grant](/guidance/check-if-you-can-apply-for-a-grant-through-the-kickstart-scheme)
    $CTA
  <% end %>

  <% if calculator.business_based == "scotland" %>
    $CTA
    Find out [what support is available in Scotland](https://findbusinesssupport.gov.scot/coronavirus-advice).
    You can be eligible for both Scottish and UK-wide schemes.
    $CTA
  <% end %>

  <% if calculator.business_based == "wales" %>
    $CTA
    Find out [what support is available in Wales](https://businesswales.gov.wales/coronavirus-advice).
    You can be eligible for both Welsh and UK-wide schemes.
    $CTA
  <% end %>

  <% if calculator.business_based == "northern_ireland" %>
    $CTA
    Find out [what support is available in Northern Ireland](https://www.nibusinessinfo.co.uk/business-support/coronavirus).
    You can be eligible for both Northern Ireland and UK-wide schemes.
    $CTA
  <% end %>

  You may be eligible for more than one scheme, whether your business is open or closed.

  [All information on support for businesses](/coronavirus/business-support).
<% end %>

<% html_for :body do %>
  <div class="app-c-email-link">
    <svg class="app-c-email-link__icon" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 459.334 459.334">
      <path fill="black" d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"></path>
    </svg>
    <h3 class="govuk-heading-s app-c-email-link__title">Stay up to date</h3>
    <a class="govuk-body govuk-link" href="/email-signup/?topic=/coronavirus-taxon/funding-and-support">Sign up for email updates about business funding and support</a>
  </div>
<% end %>
