<% text_for :title do %>
  Are you State Pension age or over?
<% end %>

<% text_for :hint do %>
  You can <a href="https://www.gov.uk/state-pension-age" class="govuk-link" rel="noreferrer noopener" target="_blank">check your state pension age if you're not sure (opens in a new tab).</a>
<% end %>

<% options(
    "yes": "Yes",
    "no": "No",
  )
%>

<% text_for :error_message do %>
  Select yes if you are State Pension age or over, select no if you are below State Pension age
<% end %>