<% if calculator.show_section?(:feel_unsafe) %>
  ## If you feel unsafe where you live or you’re worried about someone else

  If you’re in immediate danger call 999 and ask for the Police.

  If you’re in danger and unable to talk on the phone, call 999, then press 55 when prompted.

  Call the National Domestic Abuse Helpline on 0808 2000 247, you can get advice in different languages. You can also [get help from the National Domestic Abuse helpline online](https://www.nationaldahelpline.org.uk/Chat-to-us-online).

  If you’re a child or young person call Childline on 0800 1111 or [get help from Childline online](https://www.childline.org.uk).

  <% if calculator.needs_help_in?("northern_ireland") %>
    [Get help from Nexus NI](https://nexusni.org/domestic-and-sexual-abuse-24-hour-helpline/).
  <% end %>

  <% if calculator.needs_help_in?("wales") %>
    [Get help from Live Fear Free](https://gov.wales/live-fear-free).
  <% end %>

  <% if calculator.needs_help_in?("scotland") %>
    [Get help from Women’s Aid Scotland](https://womensaid.scot/).

    [Get help from Scotland’s forced marriage and domestic abuse helpline](https://sdafmh.org.uk/).
  <% end %>

  [Contact NSPCC if you’re concerned about a child](https://www.nspcc.org.uk/keeping-children-safe/our-services/nspcc-helpline/).

  Call Hourglass, if you're an older person or worried about an older person on 0808 808 8141, or [find out what support Hourglass offer](https://wearehourglass.org/).

  <% if calculator.needs_help_in?("wales") %>
    [Find helplines if you’re an older person (Older People’s Commissioner for Wales)](https://www.olderpeoplewales.com/en/coronavirus.aspx).

    [Find victim support helplines (this page is in Welsh)](https://www.victimsupport.org.uk/help-and-support/get-help/support-near-you/wales).
  <% end %>

  Call Galop, the LGBT+ helpline on 0800 999 5428, or [find out what support Galop offer](https://galop.org.uk/).

  Call Men’s Advice Line on 0808 801 0327 or [get help from Men’s Advice Line online](https://mensadviceline.org.uk/).

  Call Southall Black Sisters for help for black and minority women, including if you’ve got No Recourse to Public Funds on 0208 571 9595. You can get advice in different languages. You can also [find out what support Southall Black Sisters offer](https://southallblacksisters.org.uk).

  Call [Karma Nirvana](https://karmanirvana.org.uk/help/) for help with honour-based abuse and forced marriage on 0800 5999 247.

  [Get specialist support for Deaf people from Signhealth](https://signhealth.org.uk/with-deaf-people/domestic-abuse/domestic-abuse-service).

  [Get help after rape or sexual assault](https://www.nhs.uk/live-well/sexual-health/help-after-rape-and-sexual-assault/)

  [Get safety advice for survivors from Women’s Aid](https://www.womensaid.org.uk/covid-19-coronavirus-safety-and-support-resources/). You can get advice in different languages including British Sign Language.

  [Find specialist helplines for black and minority women (Imkaan)](https://www.imkaan.org.uk/get-help).

  Find additional helplines [if you’re a victim of domestic abuse or feel at risk of abuse](https://www.gov.uk/guidance/domestic-abuse-how-to-get-help), or if you are a [victim or witness of a crime](https://www.gov.uk/guidance/coronavirus-covid-19-victim-and-witness-services).

  <% if calculator.needs_help_in?("wales") %>
    [Get advice for children (Children’s Commissioner for Wales)](https://www.childcomwales.org.uk/coronavirus/).
  <% end %>
<% end %>

$CTA
  <h2 class="app-c-callout-title">Was this information on what to do if you’re feeling unsafe or worried about someone else helpful?</h2>

  [Give feedback on this service](/done/find-coronavirus-support)
$CTA

---
