<% if calculator.show_section?(:worried_about_self_isolating) %>
  ## If you're self-isolating

  [Benefits and sick pay](https://www.gov.uk/guidance/coronavirus-covid-19-what-to-do-if-youre-employed-and-cannot-work)

  <% if calculator.needs_help_in?("england") %>
    [Apply for a Test and Trace Support Payment](https://www.gov.uk/test-and-trace-support-payment)
  <% end %>

  [Your employment rights if you’re self-isolating after returning to the UK](https://www.gov.uk/guidance/self-isolating-after-returning-to-the-uk-your-employment-rights)

  <% if calculator.needs_help_in?("wales") %>
    [Check if you’re eligible for the Discretionary Assistance Fund (Welsh Government)](https://gov.wales/discretionary-assistance-fund-daf)
  <% end %>

  [Find out about the help you can get if you’re self-employed or work in the gig economy (Money Advice Service)](https://www.moneyadviceservice.org.uk/en/articles/coronavirus-if-youre-self-employed)

  [Find out about getting statutory sick pay if you’re self-isolating (Acas)](https://www.acas.org.uk/coronavirus/self-isolation-and-sick-pay)
<% end %>

$CTA
  <h2 class="app-c-callout-title">Was this information on self-isolating helpful?</h2>

  [Give feedback on this service](/done/find-coronavirus-support)
$CTA

---
