<% if calculator.show_section?(:mental_health_worries) %>
  ## If you’re worried about your mental health or someone else’s mental health

  [Getting urgent help for mental health (NHS)](https://www.nhs.uk/using-the-nhs/nhs-services/mental-health-services/dealing-with-a-mental-health-crisis-or-emergency/)

  [Make a support bubble with another household](https://www.gov.uk/guidance/making-a-support-bubble-with-another-household)

  [Coronavirus and wellbeing (NHS)](https://www.nhs.uk/oneyou/every-mind-matters)

  [Coping with mental health problems during coronavirus (Mind)](https://www.mind.org.uk/information-support/coronavirus/coping-with-mental-health-problems-during-coronavirus/)

  [Help for mental health problems if you're LGBT+ (NHS)](https://www.nhs.uk/mental-health/advice-for-life-situations-and-events/mental-health-support-if-you-are-gay-lesbian-bisexual-lgbtq/)

  [Getting help with your mental health if you’re a young person (Young Minds)](https://youngminds.org.uk/find-help/looking-after-yourself/coronavirus-and-mental-health/)

  [Register for phone calls from a volunteer if you’re shielding, isolating, a carer, or having less contact with other people (NHS Volunteer Responders)](https://nhsvolunteerresponders.org.uk/services)

  [Get advice from Age UK if you’re an older person, their carer, their family or friend](https://www.ageuk.org.uk/services/age-uk-advice-line/)

  [Get help for mental health problems before, during and after pregnancy (NHS)](https://www.nhs.uk/conditions/pregnancy-and-baby/mental-health-problems-pregnant/)

  [Help for mental health problems if you're a carer (Mind)](https://www.mind.org.uk/information-support/helping-someone-else/carers-friends-family-coping-support/your-mental-health/)

  <% if calculator.needs_help_in?("northern_ireland") %>
    [Additional information about taking care of your mental health (NI direct)](https://www.nidirect.gov.uk/articles/coronavirus-covid-19-taking-care-your-mental-health-and-wellbeing)
  <% end %>

  <% if calculator.needs_help_in?("scotland") %>
    [Additional information about coronavirus and your mental wellbeing from the Scottish Association for Mental Health](https://www.samh.org.uk/about-mental-health/self-help-and-wellbeing/coronavirus-and-your-mental-wellbeing)
  <% end %>

  [Supporting children’s mental health during coronavirus (Young Minds)](https://youngminds.org.uk/find-help/for-parents/supporting-your-child-during-the-coronavirus-pandemic/)
<% end %>

$CTA
  <h2 class="app-c-callout-title">Was this information on mental health and wellbeing helpful?</h2>

  [Give feedback on this service](/done/find-coronavirus-support)
$CTA

---
