<% if calculator.show_section?(:have_somewhere_to_live) %>
  ## If you do not have somewhere to live or might become homeless

  <% if calculator.needs_help_in?("england") %>
    [Get help if you’re homeless, including advice for EU nationals, refugees and asylum seekers, and disabled people (Shelter)](https://england.shelter.org.uk/housing_advice/homelessness)
  <% end %>

  <% if calculator.needs_help_in?("wales") %>
    [Get help if you’re homeless, including advice for refugees and asylum seekers and EU nationals (Shelter Cymru)](https://sheltercymru.org.uk/get-advice/homelessness/)
  <% end %>

  <% if calculator.needs_help_in?("northern_ireland") %>
    Call the Northern Ireland Housing Executive on 03448 920 908
  <% end %>

  <% if calculator.needs_help_in?("scotland") %>
    [Get help if you’re homeless (mygov.scot)](https://www.mygov.scot/homelessness/)
  <% end %>

  [Find out if you can get help from your local council](https://www.gov.uk/coronavirus-local-help)

  [Get specialist advice for LGBT+ people (Stonewall Housing)](https://stonewallhousing.org/services/advice/)

  [Get help if you’re aged 16 to 25 (Centrepoint)](https://centrepoint.org.uk/youth-homelessness/get-help-now/)

  <% if calculator.needs_help_in?("northern_ireland") %>
    [Get help from Housing Rights housing and debt helpline](https://www.housingadviceni.org/homeless/coronavirus)
  <% end %>

  <% if calculator.needs_help_in?("scotland") %>
    [Get help if you’re homeless from Shelter Scotland](https://scotland.shelter.org.uk/get_advice/advice_topics/homelessness)
  <% end %>
<% end %>

<% if calculator.show_section?(:have_you_been_evicted) %>
  ## If you’ve been evicted or might be soon

  <% if calculator.needs_help_in?("england") %>
    [Get coronavirus housing advice (Shelter)](https://england.shelter.org.uk/housing_advice/coronavirus)
  <% end %>

  <% if calculator.needs_help_in?("northern_ireland") %>
    Call the Northern Ireland Housing Executive on 03448 920 908
  <% end %>

  <% if calculator.needs_help_in?("scotland") %>
    [Find out how to get help if you’re being evicted (mygov.scot)](https://www.mygov.scot/private-tenant-eviction/getting-help/)
  <% end %>

  <% if calculator.needs_help_in?("wales") %>
    [Get coronavirus housing advice for Wales (Shelter Cymru)](https://sheltercymru.org.uk/get-advice/coronavirus/)
  <% end %>

  <% if calculator.needs_help_in?("england") %>
    [Get advice and find out about your rights if you’re a Gypsy or Traveller and you’re being evicted (Shelter)](https://england.shelter.org.uk/housing_advice/eviction/gypsies_and_travellers_facing_eviction_from_a_site)
  <% end %>

  <% if calculator.needs_help_in?("scotland") %>
    [Get advice and find out about your rights if you’re a Gypsy or Traveller and you’re being evicted (Shelter Scotland)](https://scotland.shelter.org.uk/get_advice/advice_topics/eviction/eviction_of_gypsiestravellers)
  <% end %>

  [Find out if you can get help from your local council](https://www.gov.uk/coronavirus-local-help)

  <% if calculator.needs_help_in?("england") %>
    [Find information about your rights as a tenant](https://www.gov.uk/government/publications/covid-19-and-renting-guidance-for-landlords-tenants-and-local-authorities)
  <% end %>

  <% if calculator.needs_help_in?("wales") %>
    [Get information on evictions (Welsh Government)](https://gov.wales/coronavirus-covid-19-guidance-for-tenants-in-the-private-rented-sector-html)
  <% end %>

  <% if calculator.needs_help_in?("scotland") %>
    [Find out about your rights if you have a private landlord (mygov.scot)](https://www.mygov.scot/private-rental-rights/)
  <% end %>

  <% if calculator.needs_help_in?("scotland") %>
    [Find out about your rights if you have a social landlord (mygov.scot)](https://www.mygov.scot/social-rental-rights/)
  <% end %>

  <% if calculator.needs_help_in?("northern_ireland") %>
    [Find advice from the Housing Executive](https://www.nihe.gov.uk/My-Housing-Executive/Advice-for-Housing-Executive-Tenants/Covid-19-(Coronavirus))
  <% end %>

  <% if calculator.needs_help_in?("northern_ireland") %>
    [Get advice from Housing Rights](https://www.housingadviceni.org/coronavirus)
  <% end %>

  <% if calculator.needs_help_in?("scotland") %>
    [Get coronavirus housing advice (Shelter Scotland)](https://scotland.shelter.org.uk/get_advice/scottish_housing_advice_coronavirus_COVID_19)
  <% end %>
<% end %>

$CTA
  <h2 class="app-c-callout-title">Was this information on having somewhere to live helpful?</h2>

  [Give feedback on this service](/done/find-coronavirus-support)
$CTA

---
