.app-c-email-link {
  @include govuk-font($size: 19);
  @include govuk-responsive-margin(8, "top");
  display: block;
  padding: govuk-spacing(6);
  background-color: govuk-colour("light-grey", $legacy: "grey-4");
}

.app-c-email-link__icon {
  position: relative;
  float: left;
  margin-right: .5em;
  top: 2px;
}

.app-c-email-link__title {
  margin-bottom: govuk-spacing(2);
}
