.app-c-hide-this-page-banner {
  top: 0;
  z-index: 1;
  position: sticky;
  background-color: govuk-colour("white");
  padding: govuk-spacing(3) 0 govuk-spacing(3);
  border-bottom: 1px solid govuk-colour("mid-grey");
}
