.app-c-hide-this-page-banner {
  top: 0;
  z-index: 1;
  position: sticky;
  padding-top: govuk-spacing(3);
  background-color: govuk-colour("white");
  border-bottom: 1px solid govuk-colour("mid-grey");

  @include govuk-media-query($from: tablet) {
    padding-bottom: govuk-spacing(1);
  }
}

.app-c-hide-this-page-banner__columns {
  @include govuk-media-query($from: tablet) {
    display: flex;
  }
}

.app-c-hide-this-page-banner__link-wrapper {
  @include govuk-media-query($from: tablet) {
    padding-right: govuk-spacing(3);
  }
}

.app-c-hide-this-page-banner__details-wrapper {
  padding-top: govuk-spacing(3);

  @include govuk-media-query($from: tablet) {
    padding-top: govuk-spacing(1) + 2;
    flex: 1;
  }
}
