.app-c-quick-escape {
  width: 100%;
  position: -webkit-sticky; /* Safari */ // scss-lint:disable DuplicateProperty
  position: sticky;
  top: 0;
  border-bottom: 1px solid govuk-colour("mid-grey");
  background-color: govuk-colour('white');
  z-index: 10000;
  padding: govuk-spacing(3) 0 govuk-spacing(1);
}

.app-c-quick-escape__link {
  .gem-c-button {
    @include govuk-font($size: 16, $weight: bold);
  }

  @include govuk-media-query($from: tablet) {
    padding-right: 0;
    width: 150px;
  }
}

.app-c-quick-escape__info {
  padding-top: govuk-spacing(2);

  @include govuk-media-query($from: tablet) {
    padding-top: govuk-spacing(1) + 3;
    padding-left: govuk-spacing(2);
  }
}
