@import "govuk_publishing_components/individual_component_support";

.app-c-result-sections {
  margin-bottom: govuk-spacing(7) * 2;
}

.app-c-result-sections__section {
  border-top: 1px solid $govuk-border-colour;
  @include govuk-font($size: 19);
  @include govuk-responsive-padding(4, "top");
}

@include govuk-media-query($media-type: print) {
  .app-c-result-sections {
    margin-bottom: 1.5cm;
  }

  .app-c-result-sections__section {
    border-top: 0;

    &:not(:last-of-type) {
      border-bottom: 1px solid $govuk-border-colour;
    }
  }
}
