.app-c-result-card {
  position: relative;
  padding: govuk-spacing(5) govuk-spacing(4);
  border: 1px solid $govuk-border-colour;
  margin-bottom: govuk-spacing(4);

  &:before {
    position: absolute;
    content: "";
    top: -1px;
    left: -1px;
    right: -1px;
    height: 5px;
    background: govuk-colour("blue");
  }

  @include govuk-media-query($from: tablet) {
    padding: govuk-spacing(4) govuk-spacing(6) govuk-spacing(6);
    margin-bottom: govuk-spacing(6);
  }
}

.app-c-result-card__description {
  margin-bottom: govuk-spacing(6);

  p:first-of-type {
    margin-top: 0;
  }
}

.app-c-result-card__attributes {
  margin: 0 -#{govuk-spacing(4)};
  padding: govuk-spacing(0) govuk-spacing(4);

  .app-c-result-card__attribute {
    border-top: 1px solid $govuk-border-colour;
    padding-top: govuk-spacing(2);
    padding-bottom: govuk-spacing(2);
  }
}

.app-c-result-card__link {
  @include govuk-font($size: 19, $weight: bold);
}
