@import "govuk_publishing_components/individual_component_support";

.app-c-result-item {
  @include govuk-font($size: 19);
  padding-top: govuk-spacing(6);
}

.app-c-result-item--highlighted {
  @include govuk-responsive-margin(6, "bottom");
  background-color: govuk-colour("light-grey");
  border-left: 5px solid govuk-colour("blue");
  padding: govuk-spacing(3);
}

// stylelint-disable declaration-no-important
@include govuk-media-query($media-type: print) {
  .app-c-result-item {
    break-inside: avoid;
    border-color: $govuk-print-text-colour;

    .govuk-link::after {
      display: block;
      margin-top: 1mm;
      font-size: 12pt;
    }
  }

  .app-c-result-item--highlighted {
    background-color: initial;

    a,
    a:link {
      color: $govuk-print-text-colour !important;
    }
  }
}
// stylelint-enable declaration-no-important
