<div class="govuk-grid-row travel-abroad__section">
  <div class="govuk-grid-column-one-third desktop-min-height"></div>
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      It’s up to the country you’re travelling to to decide
      whether or not people who can’t have a COVID-19 vaccination
      for a medical reason can follow the same entry requirements
      as those who are fully vaccinated. You should
      <a href="/government/publications/foreign-embassies-in-the-uk" class="govuk-link">contact the
      embassy of the country you’re visiting</a> to find this out.
    </p>
  </div>
</div>
