<div class="govuk-grid-row travel-abroad__section">
  <div class="govuk-grid-column-one-third desktop-min-height"></div>

  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Exemptions for compassionate reasons",
      heading_level: 3,
      font_size: "m",
      margin_bottom: 4,
    } %>
    <p class="govuk-body">If it is not possible to accommodate a visit to a severely ill or dying relative or member of your household from within a quarantine hotel, you may be able to quarantine somewhere else instead.</p>

    <p class="govuk-body">See information on <a href="/guidance/exemptions-from-managed-quarantine-for-compassionate-reasons" class="govuk-link">who can get a compassionate exemption, how to apply and what happens after a decision is made</a>.</p>
  </div>
</div>
