<div class="govuk-grid-row travel-abroad__section">
  <div class="govuk-grid-column-one-third desktop-min-height"></div>
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      The country you’re travelling to decides its own rules for people who cannot
      have a COVID-19 vaccination for a medical reason. You may not be able to
      follow the same entry requirements as people who are fully vaccinated. You should
      <a href="/government/publications/foreign-embassies-in-the-uk" class="govuk-link">contact the
      embassy of the country you’re visiting</a> to find this out.
    </p>
  </div>
</div>
