<div class="govuk-grid-row travel-abroad__section">
  <div class="govuk-grid-column-one-third desktop-min-height"></div>

  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Exemptions for medical reasons",
      heading_level: 3,
      font_size: "m",
      margin_bottom: 4,
    } %>
    <p class="govuk-body">Your health may mean that you do not need to stay in a quarantine hotel and must quarantine somewhere else instead.</p>

    <p class="govuk-body">See information on <a href="/guidance/exemptions-from-managed-quarantine-for-medical-and-compassionate-reasons" class="govuk-link">who can get a medical exemption, how to apply and what happens after a decision is made</a>.</p>
  </div>
</div>
