<div class="govuk-grid-row travel-abroad__section">
  <div class="govuk-grid-column-one-third">&nbsp;</div>

  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Exemptions because of your job",
      heading_level: 3,
      font_size: "m",
      margin_bottom: 4,
    } %>
    <p class="govuk-body">Some of the rules for returning to England may not apply because of the job you do. <a href="https://www.gov.uk/government/publications/coronavirus-covid-19-travellers-exempt-from-uk-border-rules/coronavirus-covid-19-travellers-exempt-from-uk-border-rules" class="govuk-link">Find out which jobs qualify for exemptions</a>.</p>
  </div>
</div>
