<div class="govuk-grid-row travel-abroad__section">
  <div class="govuk-grid-column-one-third desktop-min-height"></div>

  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Returning to England with children aged 4 and under",
      heading_level: 3,
      font_size: "m",
      margin_bottom: 4,
    } %>
    <p class="govuk-body">Children aged 4 or under do not have to take any travel tests but must enter managed quarantine.</p>
  </div>
</div>
