<%= render "govuk_publishing_components/components/inset_text", {
} do %>
  <p class="govuk-body">If you’re returning to England from 4am, 18 March, you will not need to get any COVID-19 tests, fill in a passenger locator form, or quarantine.</p>
  <p class="govuk-body">If you will arrive in England before 4am, 18 March, you must follow the current rules listed in this guidance.</p>
<% end %>

<%= render "govuk_publishing_components/components/heading", {
 text: "Travelling to England before 4am, 18 March",
 heading_level: 4,
 font_size: "m",
 margin_bottom: 4,
} %>
