<% content = capture do %>
  <p class="govuk-body">There are no entry requirements if you’re travelling to England from Ireland.</p>

  <%= render partial: "ireland/exemptions" %>

  <p class="govuk-body">This is because England and Ireland are in the <a href="/government/publications/common-travel-area-guidance" class="govuk-link">Common Travel Area</a>.</p>
<% end %>

<%
  data = {
    title: "Returning to England from Ireland",
    content: content
  }
%>

<%= render partial: "travel_result_layout", locals: { data: data, calculator: calculator } %>
