<div class="travel-abroad__heading">
  <%= render "govuk_publishing_components/components/heading", {
    text: "Returning to England from #{calculator.country_locations.first.title}",
    font_size: "l",
  } %>
</div>
<div class="govuk-grid-row travel-abroad__section">
  <div class="govuk-grid-column-one-third travel-abroad__reasons">
    <% if calculator.summary_text_fields.any? %>
      <p class="govuk-body govuk-body-s">Because you said:</p>
      <ul class="govuk-list govuk-list--bullet govuk-body-s">
        <% calculator.summary_text_fields.each do |field| %>
          <li><%= t("check_travel_during_coronavirus.summary_text.#{field}") %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="govuk-grid-column-one-third desktop-min-height"></div>
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">If you started your journey in <%= calculator.country_locations.first.title %>, you do not need to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>complete a passenger locator form</li>
      <li>take a COVID-19 test before or after travel to England</li>
    </ul>
  </div>
</div>
