<div class="govuk-grid-row travel-abroad__section">
  <div class="govuk-grid-column-one-third desktop-min-height"></div>

  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Returning to England with children and young people",
      heading_level: 3,
      font_size: "m",
      margin_bottom: 4,
    } %>
    <p class="govuk-body">Children and young people aged 17 and under do not have to take any COVID-19 travel tests and do not have to quarantine on arrival in England.</p>
  </div>
</div>
