<div class="travel-abroad__heading">
  <%= render "govuk_publishing_components/components/heading", {
    text: data[:title],
    font_size: "l",
  } %>
</div>

<div class="govuk-grid-row travel-abroad__section">
  <div class="govuk-grid-column-one-third travel-abroad__reasons">
    <% if calculator.summary_text_fields.any? %>
      <p class="govuk-body govuk-body-s">Because you said:</p>
      <ul class="govuk-list govuk-list--bullet govuk-body-s">
        <% calculator.summary_text_fields.each do |field| %>
          <li><%= t("check_travel_during_coronavirus.summary_text.#{field}") %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <%= data[:content] %>
  </div>
</div>
