// This flag stops the font from being included in this application's
// stylesheet - the font is being served by Static across all of GOV.UK, so is
// not needed here.
$govuk-include-default-font-face: false;

@import "govuk_publishing_components/govuk_frontend_support";

@import "smart_answers";

.desktop-min-height {
  @include govuk-media-query($from: tablet) {
    min-height: 1px;
  }
}
