// frontend_toolkit
@import "conditionals";
@import "typography";

// Styles
// The more generic SmartAnswer CSS is in Static _multi_step.scss

.smart_answer {
  // Previous answers block
  .previous-answers {
    h2 {
      @include core-19;
      padding-left: 32px;
      @include media(mobile) {
        padding-left: 16px;
      }
    }
  }

  .previous-answers-top {
    margin-bottom: 1.5em;
  }

  // Current question
  .page-title {
    margin-top: 0;
    @include bold-24;
    padding-left: 32px;
    @include media(mobile) {
      padding-left: 16px;
    }
  }

  .current-question {
    margin: 1.5em 0 0 0;
    padding: 0;

    .question {
      margin: .5em 0 2em 0;
    }
  }
}
