@import "govuk_publishing_components/govuk_frontend_support";
@import "govuk_publishing_components/components/print/button";
@import "govuk_publishing_components/components/print/feedback";
@import "govuk_publishing_components/components/print/govspeak";
@import "govuk_publishing_components/components/print/step-by-step-nav";
@import "govuk_publishing_components/components/print/title";
@import 'govuk_publishing_components/components/print/back-link';

.smart_answer {
  margin-left: 0;
  margin-right: 0;
  max-width: none;

  .outcome {
    width: 100%;
  }

  .previous-answers-table {
    th:last-child,
    td:last-child {
      display: none;
    }

    .govuk-table__cell,
    .govuk-table__header {
      padding: govuk-spacing(2);
    }
  }
}
