// PRINT STYLESHEET COMPILER


// STYLEGUIDE
// Mixins to be shared across gov.uk sites. Anything set in these
// files can be used in the view files.

$is-print: true;

// From the https://github.com/alphagov/govuk_frontend_toolkit
@import "_colours.scss";
@import "_conditionals.scss";
@import "_css3.scss";
@import "_typography.scss";
@import "_measurements.scss";

@import "print-styles.scss";

