// Hide uneeded elements for print
#global-breadcrumb,
.link-right a {
  display: none;
}

a {
  text-decoration: none;
}

.page-header {
  width: 75%;

  h1 {
    margin-bottom: 0;
  }
}

.smart_answer .outcome .inner {
  padding-top: 1em;
}

.smart_answer .done-questions-spl {
  padding: 0;
  margin-right: 0;

  table {

    tbody  td {
      padding: 0.25em 0.5em;
    }

    .link-right {
      width: 20%;
    }
  }
}

article .info-notice:before,
article .help-notice:before {
  display: none;
}

article .info-notice p,
article .help-notice p {
  position: relative;

  &:before {
    content: "!";
    font-size: 27px;
    font-weight: bold;
    position: absolute;
    top: -8px;
    left: -20px;
  }
}

