// Short term fix. Needs removing in the future.
$is-ie: false !default;

// The more generic SmartAnswer CSS is in Static _multi_step.scss

.smart_answer {
  a:not(.govuk-button):focus {
    @include govuk-focused-text;
  }

  .outcome {
    min-height: 0; //overrides a much higher min height from static
  }
}

//Heroku alert
.heroku-alert {
    margin: 0 15px 15px 15px;
    border: 1px solid #B01117;
    background-color: govuk-colour('red');
    color: govuk-colour('white');
    padding: 1em;
    font-weight: bold;

    a {
      cursor: pointer;
      color: govuk-colour('white');
      text-decoration: underline;

      &:focus {
        @include govuk-focused-text;
      }
    }
}

.date-wrapper {
  .date-wrapper__col {
    width: auto;
    margin-bottom: govuk-spacing(3);
  }
}
