@import "govuk_publishing_components/components/hint";

.smart_answer {
  .app-c-callout-title {
    @include govuk-font($size: 19, $weight: bold);
  }

  // stylelint-disable scss/at-extend-no-missing-placeholder
  // This allows govspeak in hint component to have hint styling rather than govspeak
  .gem-c-hint {
    .govuk-govspeak {
      @extend .govuk-hint;
    }
  }
  // stylelint-enable scss/at-extend-no-missing-placeholder
}

.smart-answers-list .govuk-table {
  font-size: 15px;
}

@include govuk-media-query($media-type: print) {
  .smart_answer {
    margin-left: 0;
    margin-right: 0;
    max-width: none;

    .outcome {
      width: 100%;
    }

    .previous-answers-table {
      th:last-child,
      td:last-child {
        display: none;
      }

      .govuk-table__cell,
      .govuk-table__header {
        padding: govuk-spacing(2);
      }
    }
  }
}
