// Short term fix. Needs removing in the future.
$is-ie: false !default;

// The more generic SmartAnswer CSS is in Static _multi_step.scss

.smart_answer {
  a:not(.govuk-button):focus {
    @include govuk-focused-text;
  }

  .outcome {
    min-height: 0; //overrides a much higher min height from static
  }

  .govspeak-wrapper {
    h2 {
      @extend %govuk-heading-l;
    }

    h3 {
      @extend %govuk-heading-m;
    }

    h4 {
      @extend %govuk-heading-s;
    }

    p {
      @extend %govuk-body-m;
    }

    ul {
      @extend %govuk-list;
      @extend %govuk-list--bullet;
    }

    table {
      @extend .govuk-table;
    }

    th {
      @extend .govuk-table__header;
    }

    td {
      @extend .govuk-table__cell;
    }

    hr {
      margin-top: govuk-spacing(8);
      margin-bottom: govuk-spacing(8);
    }

  }
}

//Heroku alert
.heroku-alert {
    margin: 0 15px 15px 15px;
    border: 1px solid #B01117;
    background-color: govuk-colour('red');
    color: govuk-colour('white');
    padding: 1em;
    font-weight: bold;

    a {
      cursor: pointer;
      color: govuk-colour('white');
      text-decoration: underline;

      &:focus {
        @include govuk-focused-text;
      }
    }
}

.app-c-meta-data {
  @include govuk-font($size: 16);
  color: $govuk-secondary-text-colour;
}

.app-c-email-link {
  display: block;
  @include govuk-responsive-margin(8, "top");
  padding: govuk-spacing(6);
  background-color: govuk-colour("light-grey", $legacy: "grey-4");
}

.app-c-email-link__icon {
  position: relative;
  float: left;
  margin-right: .5em;
  top: 2px;
}

.app-c-email-link__title {
  margin-bottom: govuk-spacing(2);
}
