/*
	landing page
*/

.landing {
	background-color: #fff;
	margin-right: 12em;
	padding: 1em 2em;
	position: relative;
}

.start {
	display: inline-block;
}

.start a {
	font-size: 1.5em;
	margin: 0.5em 0 0 0;
}

/*
  questions
*/

.hint {
  color: #666;
  display: block;
}

ol.done-questions {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

.done-questions > li {
  position: relative;
  padding: 0.5em 2em;
}

.done-questions > li.done {
  background: #ddd;
  border-bottom: solid 1px #bbb;
  overflow: hidden;
}

li.done h3 {
  display: inline;
  font-size: 1em;
  margin: 0;
}

li.done .answer {
  background-color: #f4f4f4;
  border: dashed 1px #bbb;
  display: inline;
/*  font-weight: bold;*/
  padding: 0.25em 0.5em;
  margin-left: 0.5em;
}

li.done .undo {
  display: inline;
/*	float: right;*/
/*  font-weight: normal;*/
  font-size: 0.8em;
  margin: 0 0 0 0.5em;
}

.question-number {
  margin-right: 0.75em;
}

.current {
}

.current-question {
	background-color: #fff;
/*	border-bottom: solid 1px #bbb;*/
	padding: 1em 2em;
	position: relative;
}

.current ul {
  list-style: none;
  padding-left: 2em;
}

.current ul li {
  line-height: 1.5em;
  margin: 0.5em 0;
}

.next-question {
	padding: 0 2em;
}

.next-question input {
	font-size: 1.5em;
	margin: 0.5em 0;
}

/*
	results
*/

.results {
	background-color: #fff;
	padding: 2em;
}

/*
  errors
*/

#error-header {
  border: solid 0.25em #F00;
  padding: 0.5em 1em;
}

.error, #error-header {
  background: #FFE5EC;
  color: #F00;
}

.error-message, #error-header {
  display: none;
}

span.error-message {
  display: inline;
  padding: 0 0.25em;
  position: relative;
}

.error .error-message {
  display: block;
  font-size: 0.88em;
  margin-top: 0.75em;
}