@import "govuk_publishing_components/all_components";

#content {
    .container {
    }

    header {
        margin: 2em 0;

        h1 {
            @include govuk-font(48, $weight: bold);

            span {
                display: block;
                color: govuk-colour("dark-grey", $legacy: "grey-1");
                @include govuk-font(27);
                font-weight: normal;
            }

            a {
                text-decoration: none;
            }
        }
    }

    #btn-toggle-rankdir {

    }

}

.warning {
  border-left: 6px solid red;
  padding: 0.5em 2em;
}

#paper {
    // Prevents the
    min-height: 600px;
}
