$govuk-compatibility-govuktemplate: true;

@import "govuk_publishing_components/all_components";

.warning {
  border-left: 6px solid red;
  padding: 0.5em 2em;
}

.paper {
  min-height: 600px;
  margin: 2em auto;
  position: relative
}
