$govuk-compatibility-govuktemplate: true;
$govuk-use-legacy-palette: false;

@import "govuk_publishing_components/govuk_frontend_support";
@import "govuk_publishing_components/component_support";
@import "govuk_publishing_components/components/table";
@import "govuk_publishing_components/components/warning-text";

.visualisation {
  overflow-x: scroll;
  background-color: govuk-colour("light-grey");
}
