<!-- Smart answers - Stubbed report_a_problem, just enough to make the tests pass. -->
<p class="report-a-problem-toggle js-footer"><a href="">Is there anything wrong with this page?</a></p>
<div class="report-a-problem-container">
  <form accept-charset="UTF-8" action="/contact/govuk/problem_reports" method="post">
    <input id="url" name="url" type="hidden" value="<%= request_url %>">
  </form>
</div>
<!-- end report_a_problem -->

