<% text_for :title do %>
  Foreign travel during coronavirus (COVID-19): find out what you need to do
<% end %>

<% govspeak_for :body do %>
  <p>If you’re travelling from and to England during coronavirus (COVID-19), there are things you need to do before you travel and after you arrive.</p>

  $CTA
  <p>There are different rules if you’re <a href="https://www.gov.scot/publications/coronavirus-covid-19-international-travel-quarantine/">travelling to Scotland</a>, <a href="https://gov.wales/arriving-wales-overseas">travelling to Wales</a> or <a href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-international-travel-advice">travelling to Northern Ireland</a>.</p>
  $CTA

  <p>Use this tool to find out:</p>

  <ul>
    <li>where to find entry requirements for a country you’re going to or travelling through</li>
    <li>what you need to do before and after you return to England</li>
    <li>whether you need take any tests and when</li>
    <li>what you need to do to travel with children</li>
    <li>whether you’re exempt from any rules</li>
    <li>whether a country you’re going to or travelling through is on the red list</li>
  </ul>

  <p>You will be asked a series of questions so we can show you information relevant to your journey and circumstances.</p>

  <%= render "govuk_publishing_components/components/heading", {
    text: "Before you start",
    heading_level: 2,
    font_size: "m",
    margin_bottom: 4,
  } %>

  <p class="govuk-!-margin-bottom-6">You’ll be asked about your vaccination status. <a href="/guidance/countries-with-approved-covid-19-vaccination-programmes-and-proof-of-vaccination">Check if you qualify as fully vaccinated for travel to England, including approved vaccines</a>.</p>
<% end %>

<% text_for :post_body_header do %>
  Travelling to England from within the UK, Ireland, Channel Islands and the Isle of Man
<% end %>

<% govspeak_for :post_body do %>
  <p>If you’re travelling to England from within the Common Travel Area (England, Scotland, Wales and Northern Ireland, Ireland, the Channel Islands and the Isle of Man) and haven’t been anywhere else within the 10 days before you arrive, there are no entry requirements for coming into England.</p>

  <p>If you’ve been to a country or territory outside the Common Travel Area within the 10 days before you arrive in England, you must follow the rules for entering England from that country. You can use this tool to find out those rules.</p>
<% end %>
