<p class="govuk-body">This means you do not need to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>take any COVID-19 tests before you travel to England or after you arrive</li>
  <li>quarantine when you arrive</li>
  <li>complete a passenger locator form</li>
  <li>show proof of vaccination</li>
</ul>
