<% render_content_for :title do %>
  QUESTION_2_TITLE
<% end %>

<% render_content_for :hint do %>
  QUESTION_2_HINT
<% end %>

<% govspeak_for :body do %>
  QUESTION_2_BODY <a href="/">LINK TEXT</a> &rarr;
<% end %>
