<h2 class="govuk-heading-xl">Returning to England with young people aged 5 to 17</h2>

<p>Young people aged 5 to 17 do not have to take a COVID-19 test before travel but must take a day 2 test on arrival in England. This must be taken before the end of day 2 (the day they arrive is day 0).</p>

<p>They do not have to quarantine on arrival in England. This applies whether they are vaccinated or not.</p>
