<h3>Exemptions because of your job</h3>

<p>Some of the rules for returning to England may not apply because of the job you do. <a href="https://www.gov.uk/government/publications/coronavirus-covid-19-travellers-exempt-from-uk-border-rules/coronavirus-covid-19-travellers-exempt-from-uk-border-rules">Find out which jobs qualify for exemptions</a>.</p>
