<h2 class="govuk-heading-xl">Exemptions for compassionate reasons</h2>

<p>If it is not possible to accommodate a visit to a severely ill or dying relative or member of your household from within a quarantine hotel, you may be able to quarantine somewhere else instead.</p>

<p>See information on <a href="https://www.gov.uk/guidance/exemptions-from-managed-quarantine-for-compassionate-reasons">who can get a compassionate exemption, how to apply and what happens after a decision is made</a>.</p>
