<h2 class="govuk-heading-xl">Exemptions for medical reasons</h2>

<p>Your health may mean that you do not need to stay in a quarantine hotel and must quarantine somewhere else instead.</p>

<p>See information on <a href="https://www.gov.uk/guidance/exemptions-from-managed-quarantine-for-medical-and-compassionate-reasons">who can get a medical exemption, how to apply and what happens after a decision is made</a>.</p>
