<h2 class="govuk-heading-xl">Travelling to England if you're fully vaccinated</h2>

<h3>Proof of vaccination</h3>

<p>You must be able to prove that you've been fully vaccinated. If you live in England, you can prove your vaccination status using the <a href="https://www.gov.uk/guidance/nhs-covid-pass">NHS COVID Pass</a>.</p>

<p>If you were vaccinated in another country or territory, see <a href="https://www.gov.uk/guidance/countries-with-approved-covid-19-vaccination-programmes-and-proof-of-vaccination#countries-with-an-approved-proof-of-vaccination-and-examples-of-proof-required">examples of what you can use as proof of vaccination</a>.</p>

<h3>Before you travel to England</h3>

<p>You must:</p>

<ul>
  <li><a href="https://www.gov.uk/find-travel-test-provider">book and pay for a COVID-19 test</a> - to be taken after arrival before the end of day 2</li>
  <li><a href="https://www.gov.uk/provide-journey-contact-details-before-travel-uk">complete a passenger locator form</a> - to be completed in the 48 hours before you arrive in England</li>
</ul>

<p>You can choose a lateral flow test or a PCR test. You must use a private test provider. You cannot use a free NHS test.</p>

<p>You will need to enter your COVID-19 test booking reference number on your passenger locator form.</p>

<p>You do not need to take a pre-departure test before returning to England if you're fully vaccinated.</p>

<h3>When you arrive in England</h3>

<p>You must take the COVID-19 test you booked before travel on or before day 2 (the day you arrive is day 0).</p>

<p>If the test result is negative, you do not need to self-isolate.</p>

<p>If a lateral flow test is positive, you must <a href="https://www.gov.uk/get-coronavirus-test">take a free PCR test</a> to confirm the result. You must self-isolate until you get the result.</p>

<p>If a lateral flow test result is unclear, you must <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/self-isolation-and-treatment/when-to-self-isolate-and-what-to-do">self-isolate</a> for 10 full days (the day of the test is day 0).</p>

<p>If a PCR test is positive or unclear, you must <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/self-isolation-and-treatment/when-to-self-isolate-and-what-to-do">self-isolate</a> for 10 full days (the day of the test is day 0).</p>

<p>If either a lateral flow or PCR test is unclear, you can choose to take another private test.</p>
