<div class="govuk-grid-row travel-abroad__section">
  <div class="govuk-grid-column-one-third">&nbsp;</div>

  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Returning to England to receive urgent medical treatment",
      heading_level: 3,
      font_size: "m",
      margin_bottom: 4,
    } %>
    <p class="govuk-body">If you're returning to receive urgent, unplanned treatment in England, you do not need to take any travel tests.</p>

    <p class="govuk-body">You can travel to and from your healthcare provider and the place you're staying in England and must <a href="https://www.gov.uk/guidance/how-to-quarantine-when-you-arrive-in-england" class="govuk-link">follow quarantine rules</a>.</p>
  </div>
</div>
