<h2 class="govuk-heading-xl">Arriving in England to receive urgent medical treatment</h2>

<p>If you're arriving to receive urgent, unplanned treatment in England, you do not need to take any travel tests.</p>

<p>You can travel to and from your healthcare provider and the place you're staying in England and must <a href="https://www.gov.uk/guidance/how-to-quarantine-when-you-arrive-in-england">follow quarantine rules</a>.</p>
