<h2 class="govuk-heading-xl">Returning to England with young people aged 5 to 17</h2>

<p>Children aged 11 to 17 must take a COVID-19 test in the 3 days before travel to England.</p>

<p>On arrival in England children aged 5 to 17 must quarantine in a managed hotel for 10 full days and take 2 COVID-19 tests.</p>
