<div class="govuk-grid-row travel-abroad__section">
  <div class="govuk-grid-column-one-third">&nbsp;</div>

  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Returning to England with young people aged 5 to 17",
      heading_level: 3,
      font_size: "m",
      margin_bottom: 4,
    } %>
    <p class="govuk-body">Children aged 12 to 17 must take a COVID-19 test in the 3 days before travel to England.</p>

    <p class="govuk-body">On arrival in England, children aged 5 to 17 must quarantine in a managed hotel for 10 full days and take 2 COVID-19 tests.</p>
  </div>
</div>
