<h2 class="govuk-heading-xl">Returning to England after visiting a red list country</h2>

<p>You've said you'll be in a red list country within 10 days of arriving in England. This means different rules apply for entering England.</p>

<p>You will only be allowed to enter the UK if you either:</p>
<ul>
  <li>are a British or Irish National</li>
  <li>have residence rights in the UK</li>
</ul>

<p>If you live in England, you should not travel to countries or territories on the red list.</p>

<h3>Before you travel to England</h3>

<p>You must:</p>

<ul>
  <li>take a COVID-19 test – you must take the test in the 3 days before you travel to England</li>
  <li><a href="https://www.gov.uk/guidance/booking-and-staying-in-a-quarantine-hotel-when-you-arrive-in-england">book a quarantine hotel package, including 2 COVID-19 tests</a></li>
  <li><a href="https://www.gov.uk/provide-journey-contact-details-before-travel-uk">complete a passenger locator form</a></li>
</ul>

<p>You must do this even if you are fully vaccinated.</p>

<p><a href="https://www.gov.uk/guidance/coronavirus-covid-19-testing-for-people-travelling-to-england">Read more about taking a COVID-19 test before you travel to England</a>.</p>

<h3>When you arrive in England</h3>

<p>When you arrive in England you must <a href="https://www.gov.uk/guidance/booking-and-staying-in-a-quarantine-hotel-when-you-arrive-in-england">quarantine in a managed hotel, and take 2 COVID-19 tests</a>.</p>

<p>You must do this even if you are fully vaccinated.</p>
