<% text_for :title do %>
  Outcome
<% end %>

<% govspeak_for :body do %>
  <% calculator.inspect %>
  <% calculator.travel_rules.each do |country| %>
    <% if calculator.vaccination_status == "fully_vaccinated" %>
      <h2>Vaccination status</h2>
      <a href="/foreign-travel-advice/<%= country.slug %>/entry-requirements">Guidance for vaccinated people!</a>
    <% end %>
    <%= calculator.inspect %>
    <%# if calculator.transit_countries.include?(country.slug) %>
      <!-- <h2>Transit rules</h2> -->
    <%# end %>
  <% end %>
<% end %>
