<% html_for :body do %>
  <%= render "govuk_publishing_components/components/print_link" %>

  <%= render "govuk_publishing_components/components/signup_link", {
    heading: "What you need to do may change",
    link_text: "Sign up for email updates about travel",
    link_href: "/fix-me",
    background: true,
    margin_bottom: 8
  } %>

  <div class="travel-abroad__heading">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Travelling abroad from England",
      font_size: "l",
    } %>
  </div>
<% end %>
