<% text_for :title do %>
  Outcomes
<% end %>

<% govspeak_for :body do %>
  <% calculator.inspect %>
  <% calculator.travel_rules.each do |country| %>
    <% if calculator.vaccine_status == "vaccinated" %>
      <h2>Vaccine status</h2>
      <a href="/foreign-travel-advice/<%= country.slug %>/entry-requirements">Guidance for vaccinated people!</a>
    <% end %>
    <% if calculator.transit_countries.include?(country.slug) %>
      <h2>Transit rules</h2>
      YAY you are transiting!
    <% end %>
  <% end %>
<% end %>
