<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> - GOV.UK</title>
    <%= javascript_include_tag "smart-answers", defer: true %>
    <%= yield :head %>
  </head>
<body class="mainstream">
  <div id="wrapper" class="answer smart_answer">
    <%= yield %>
  </div>
</body>
</html>
