<% content_for :head do %>
  <%= javascript_include_tag "application", defer: true %>
<% end %>

<%# render partial: "smart_answers/heroku_alert" if heroku? %>

<main id="content" role="main">
  <div class="govuk-!-margin-top-9">
    <%= yield %>
  </div>
</main>

<% parent_layout 'application' %>
