<% content_for :title do %>
  <%= @title %>
<% end %>

<% content_for :head do %>
  <%= javascript_include_tag "application", defer: true %>
<% end %>

<main id="content" role="main">
  <%= yield %>
</main>

<% parent_layout 'application' %>
